@using System.Globalization
@using MyFlightbook.Clubs
@using MyFlightbook.Schedule
@{
    Club club = ViewBag.club;
    ClubAircraft ac = ViewBag.aircraft;
    string resourceHeader = ViewBag.resourceHeader;
    int resourceID = ViewBag.resourceID;
    bool fShowNavContainer = ViewBag.showNavContainer;
    ScheduleDisplayMode displayMode = ViewBag.scheduleMode;
    string navInitFunc = ViewBag.navInitFunc;
    string divCalID = String.Format(CultureInfo.InvariantCulture, "divCalendar{0}-{1}", club.ID, resourceID);
}
<div style="font-weight:bold;">@resourceHeader</div>
<div class="calContainer">
    <div>
        <div class="calPlaceholder" id="divResourceDetails">
            <div class="mfbDefault">
                @if (ac.HasSampleImage)
                {
                    <div style="width: 200px; text-align: center; vertical-align: middle;">
                        <img src="@ac.SampleImageThumbnail" onclick="javascript:viewMFBImg('@ac.SampleImageFull')" />
                        <div>@ac.SampleImageComment</div>
                        <br />
                    </div>
                }
                <div>@Html.Raw(ac.ClubDescription)</div>
                <div>@ac.PublicNotes</div>
            </div>
        </div>
        @if (fShowNavContainer)
        {
            <div id="pnlNavContainer" class="calNavContainer">
                <div id="pnlCalendarNav" style="width: 100%;"></div>>
                <div id="plcSubNav"></div>
            </div>
        }
        <div class="calCalContainer">
            <div id="@divCalID"></div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
<script type="text/javascript">
    var cal = new mfbCalendar('@VirtualPathUtility.ToAbsolute("~/Member/Ajax.asmx")', '@resourceID', '@club.ID', '@displayMode', '@divCalID', newAppt, editAppt, getAppointment);
    @if (String.IsNullOrEmpty(navInitFunc))
    {
    @:cal.initNav('@divCalID').select(new DayPilot.Date('@TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, club.TimeZone).ToString("u", CultureInfo.InvariantCulture)'));
    }
    else
    {
    @:@(navInitFunc)(cal);
    }
    cal.refreshEvents();
</script>
