@using System.Globalization
@using MyFlightbook.Clubs
@using MyFlightbook.Schedule
@{
    Club club = ViewBag.club;
    ClubAircraft ac = ViewBag.aircraft;
    string resourceHeader = ViewBag.resourceHeader;
    int resourceID = ViewBag.resourceID;
    ScheduleDisplayMode displayMode = ViewBag.scheduleMode;
    string navInitFunc = ViewBag.navInitFunc;
    string divCalID = String.Format(CultureInfo.InvariantCulture, "divCalendar{0}-{1}", club.ID, resourceID);
}
<div style="font-weight:bold;">@resourceHeader</div>
<div class="calContainer">
    <div>
        @if (ViewBag.includeDetails)
        {
            <div class="calPlaceholder" id="divResourceDetails">
                <div class="mfbDefault">
                    @if (ac.HasSampleImage)
                    {
                        <div style="width: 200px; text-align: center; vertical-align: middle;">
                            <img src="@ac.SampleImageThumbnail" onclick="javascript:viewMFBImg('@ac.SampleImageFull')" />
                            <div>@ac.SampleImageComment</div>
                            <br />
                        </div>
                    }
                    <div>@Html.Raw(ac.ClubDescription)</div>
                    <div>@Html.Raw(ac.PublicNotes.Linkify())</div>
                </div>
            </div>
        }
        <div class="calCalContainer">
            <div id="@divCalID"></div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
<script type="text/javascript">
    var cal = new mfbCalendar('@VirtualPathUtility.ToAbsolute("~/Member/Ajax.asmx")', '@resourceID', '@club.ID', '@displayMode', '@divCalID', newAppt, editAppt, getAppointment, @(ViewBag.onEditFunc ?? "null" ));
    @if (String.IsNullOrEmpty(navInitFunc))
    {
    @:cal.initNav('@divCalID').select(new DayPilot.Date('@TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, club.TimeZone).ToString("u", CultureInfo.InvariantCulture)'));
    }
    else
    {
    @:@(navInitFunc)(cal).select(new DayPilot.Date('@TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, club.TimeZone).ToString("u", CultureInfo.InvariantCulture)'));
    }
    cal.refreshEvents();
</script>
