@using System.Globalization
<div style="display:none;" id="divAppt">
    @using (Html.BeginForm("", "Club", FormMethod.Post, new {name = "editApptForm", id="editApptForm"}))
    {
        <div>@Resources.Schedule.EventTitle</div>
        <div><input type="text" id="txtApptTitle" name="txtApptTitle" placeholder="@Resources.Schedule.EventTitleWatermark" /></div>
        <div>@Resources.Schedule.EventStart</div>
        <div>
            <input type="datetime-local" id="dateStart" name="dateStart" required onchange="javascript: updateEndTimeForDuration();" />
        </div>
        <div>@Resources.Schedule.EventEnd</div>
        <div>
            <input type="datetime-local" id="dateEnd" name="dateEnd" required onchange="javascript: updateDuration();" />
        </div>
        <div style="text-align: center; margin-top: 5px;">
            <button type="button" id="btnCancel" onclick="javascript: hideEditor(); return false;">@Resources.Schedule.EventCancel</button>
            <button type="button" id="btnDeleteAppt">@Resources.Schedule.EventDelete</button>
            <button type="button" id="btnSaveAppt">@Resources.Schedule.EventSave</button>
        </div>
        <input type="hidden" id="hdnApptID" />
        <input type="hidden" id="hdnResource" />
    }
</div>
<script type="text/javascript">
    $(function () {
        $('#divAppt').keydown(function (e) {
            if (e.keyCode == 13) {
                $('#btnSaveAppt')[0].click();
                return false;
            }
        });
    });

    function setApptDate(dt, idDate) {
        $(idDate).val(dt.value);
    }

    function getApptDate(idDate) {
        var dLocal = new Date($(idDate).val());
        dt = new DayPilot.Date(dLocal, true);
        return dt;
    }

    var duration = 0;

    function setStartDate(dt) { setApptDate(dt, '#dateStart'); }
    function getStartDate() { return getApptDate('#dateStart'); }
    function setEndDate(dt) { setApptDate(dt, '#dateEnd'); }
    function getEndDate() { return getApptDate('#dateEnd'); }

    function updateEndTimeForDuration() {
        setEndDate(getStartDate().addSeconds(duration));
    }

    function updateDuration() {
        if (getEndDate() < getStartDate())
            setEndDate(getStartDate().addMinutes(15));
        duration = (getEndDate().getTime() - getStartDate().getTime()) / 1000;
    }

    function getAppointment() {
        return new DayPilot.Event({
            id: $("#hdnApptID").val(),
            start: getStartDate(),
            end: getEndDate(),
            resource: $("#hdnResource").val(),
            text: $("#txtApptTitle").val()
        });
    }

    function hideEditor() {
        $("#divAppt").dialog("close");
    }

    function setAppointment(e) {
        $("#hdnApptID").val(e.data.id);
        setStartDate(e.data.start);
        setEndDate(e.data.end);

        duration = (e.data.end.getTime() - e.data.start.getTime()) / 1000;
        $("#hdnResource").val(e.data.resource);
        $("#txtApptTitle").val(e.data.text);
        $("#btnSaveAppt")[0].onclick = function (args) {
            if (typeof args === 'undefined')
                args = $.event.fix(window.event);
            if ($("#editApptForm")[0].checkValidity())
                e.onSave(args, hideEditor);
            else
                $("#editApptForm")[0].reportValidity();

        }
        $("#btnDeleteAppt")[0].onclick = function (args)
        {
            if (typeof args === 'undefined')
                args = $.event.fix(window.event);
            var r = window.confirm('@Resources.Schedule.confirmDelete');
            if (r == true) {
                e.onDelete(args, hideEditor);
            }
            else {
                args.stopPropagation();
                args.preventDefault();
            }
        }
    }

    function editAppt(e, isNew) {
        setAppointment(e);
        $("#btnDeleteAppt").css("display", isNew ? "none" : "inline");
        var div = $("#divAppt");
        div.dialog({ autoOpen: false, closeOnEscape: true, modal: true, title: "@Resources.Club.TitleEditScheduledEvent" });
        div.dialog("open");
        div.keyup(function (event) {
            if (event.which === 13) {
                $("#btnSaveAppt")[0].click();
            }
        });
        $("#txtApptTitle")[0].focus();
    }

    function newAppt(e, onSave) {
        e.onSave = onSave;
        e.onDelete = function (e) { };
        if (e.data.text === '')
            e.data.text = '@(ViewBag.defaultTitle ?? string.Empty)';
        editAppt(e, true);
    }
</script>
