@using MyFlightbook.Charting;
@{
    Layout = "~/Areas/mvc/Views/Shared/_Layout.cshtml";
}
<div class="detailsSection flR" style="max-width: 250px;">
    @Resources.LogbookEntry.BulkImportPrompt
    <a href="@VirtualPathUtility.ToAbsolute("~/mvc/playpen/ImportTelemetry")">@Resources.LogbookEntry.BulkImportLink</a>
</div>

@Html.Raw(ViewBag.HTMLContent)
<table class="stickyHeaderTable stickyHeaderAlternate">
    <thead class="headerBase gvhDefault gvhLeft">
        <tr>
            <td class="b">@Resources.FlightData.headerColumnName</td>
            <td class="b">@Resources.FlightData.headerColumnDescription</td>
        </tr>
    </thead>
    <tbody>
        @foreach (KnownColumn kc in ViewBag.Columns)
        {
            <tr class="topAlign">
                <td class="b">@kc.Column</td>
                <td>
                    <div>@kc.ColumnDescription</div>
                    <div class="fineprint">@kc.ColumnNotes</div>
                </td>
            </tr>
        }
    </tbody>
</table>
<p><a href="@VirtualPathUtility.ToAbsolute("~/mvc/pub/contact")">@Resources.FlightData.FlightDataContactUs</a></p>


