@using MyFlightbook.FlightStatistics;
@using System.Globalization
@using MyFlightbook.Currency;
@{
    MyFlightbook.Profile pf = MyFlightbook.Profile.GetUser(User.Identity.Name);
    ViewBag.Title = String.Format(CultureInfo.CurrentCulture, Resources.LocalizedText.DefaultPageWelcomeBack, pf.PreferredGreeting);
    Layout = "~/Areas/mvc/Views/Shared/_Layout.cshtml";
    ViewBag.defaultTab = tabID.tabHome;
    ViewBag.sheets = new string[] { $"~/public/CSS/homepage.css?v={MFBConstants.StyleSheetVer}".ToAbsolute() };
    string fbfeed = Branding.CurrentBrand.FacebookFeed;
    string comparePrompt = Branding.ReBrand(Resources.LocalizedText.AboutViewFeatures);
    string learnMorePrompt = Branding.ReBrand(Resources.Profile.HomePromoLearnMore);
    string szViewLogbookPrompt = Resources.Profile.HomePromoViewYourLogbook;
    UserTotals ut = new UserTotals();
}
@if (!String.IsNullOrEmpty(fbfeed))
{
    <script type="text/javascript">
        window.fbAsyncInit = function() { FB.init({appId: '@LocalConfig.SettingForKey("facebookAppId")', autoLogAppEvents: true, xfbml: true, version: 'v5.0'});};
    </script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
    <div style="min-width:250px; margin:5px; float: right;">
        <div class="fb-page" data-href="@Branding.CurrentBrand.FacebookFeed" data-tabs="timeline" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
            <blockquote cite="@Branding.CurrentBrand.FacebookFeed" class="fb-xfbml-parse-ignore"><a href="@Branding.CurrentBrand.FacebookFeed">@Branding.CurrentBrand.AppName</a></blockquote>
        </div>
    </div>
}
<script type="text/javascript">
    $(() => {
        var params = new Object();
        params.userName = "@User.Identity.Name";
        params.linkItems = true;
        $.ajax({
            url: "@Url.Action("GetCurrencyForUser", "Flights")",
            type: "POST", data: JSON.stringify(params), dataType: "html", contentType: 'application/json',
            error: function (xhr, status, error) { window.alert(xhr.responseText); },
            success: function (r) { $("#divCurrency").html(r);}
        });

        params = new Object();
        params.userName = "@User.Identity.Name";
        params.linkItems = true;
        params.grouped = @Json.Encode(ut.DefaultGroupModeForUser);
        params.fq = @Html.Raw(new FlightQuery(User.Identity.Name).ToJSONString());
        params.fUpdatePref = false;
        $.ajax({
            url: "@Url.Action("GetTotalsForUser", "Flights")",
            type: "POST", data: JSON.stringify(params), dataType: "html", contentType: 'application/json',
            error: function (xhr, status, error) { window.alert(xhr.responseText); },
            success: function (r) { $("#divTotals").html(r); }
        });
    });
</script>
<div class="centered80">
    <div class="homepageRecentStats">
        @{ Html.RenderPartial("_recentStats"); }
    </div>
    <br />
    <h2>@Resources.Profile.HomePromoCurrencyHeader</h2>
    <div class="centered80" id="divCurrency">
        <div class="c"><img src="@("~/images/progress.gif".ToAbsolute())" /></div>
    </div>
    <br />
    <h2>@Resources.Profile.HomePromoTotalsHeader</h2>
    <div id="divTotals">
        <div class="c"><img src="@("~/images/progress.gif".ToAbsolute())" /></div>
    </div>
    <h2 class="c"><img src="@("~/images/rightarrow.png".ToAbsolute())" alt="@szViewLogbookPrompt" title="@szViewLogbookPrompt" class="imgMiddle" /> <a href="@("~/mvc/flights".ToAbsolute())">@szViewLogbookPrompt</a></h2>
</div>

