@using MyFlightbook
@using System.Globalization
@{
    ViewBag.Title = String.Format(CultureInfo.CurrentCulture, Resources.Profile.WelcomeTitle, Branding.CurrentBrand.AppName);
    Layout = "~/Areas/mvc/Views/Shared/_Layout.cshtml";
    ViewBag.sheets = new string[] { $"~/public/CSS/homepage.css?v={MFBConstants.StyleSheetVer}".ToAbsolute() };
    string comparePrompt = Branding.ReBrand(Resources.LocalizedText.AboutViewFeatures);
    string learnMorePrompt = Branding.ReBrand(Resources.Profile.HomePromoLearnMore);
}
<div class="homePageUnauth centered80">
    <div class="centered80"><img class="w100" src="@("~/images/mfblogonew-large.png".ToAbsolute())" alt="@Branding.CurrentBrand.AppName" title="@Branding.CurrentBrand.AppName" /></div>
    <h2>@Branding.ReBrand(Resources.Profile.HomePageMostPopular)</h2>
    <h3 class="headline c"><img src="@("~/images/rightarrow.png".ToAbsolute())" class="imgMiddle" /> <a href="@("~/mvc/auth/newuser".ToAbsolute())">@Branding.ReBrand(Resources.Profile.HomePromoJoinCommunity) - @Html.Raw(Resources.LocalizedText.ItsFree.Linkify())</a></h3>
    <div class="c l">@Resources.Profile.NewUserExistingAccount <img src="@("~/images/rightarrow.png".ToAbsolute())" class="imgMiddle" /> <a class="b" href="@("~/mvc/auth".ToAbsolute())">@Resources.LocalizedText.SignInButtonTitle</a></div>
    <br />
    <br />
    <div class="featureRow">
        <div id="imgInFlightSample" class="blurredimage imgLeft"></div>
        <div class="w70">
            <h3 class="leftQuote"><span class="testimonialQuote">Over the years, I have been using MyFlightBook with great satisfaction, and I have enthusiastically recommended your platform to many pilots and aviation enthusiasts.</span><span class="testimonialAttribution">Maciej,&nbsp;CFI</span></h3>
            <h3 class="rightQuote"><span class="testimonialQuote">I’m going to recommend it to all my students.</span><span class="testimonialAttribution">Laurenz,&nbsp;CFI</span></h3>
            <h3 class="leftQuote"><span class="testimonialQuote">I am a huge fan of MyFlightbook</span><span class="testimonialAttribution">Jason,&nbsp;Airline&nbsp;Pilot</span></h3>
            <h3 class="rightQuote"><span class="testimonialQuote">Your software is a benefit to pilots, instructors and administrators</span><span class="testimonialAttribution">Wayne,&nbsp;MEI</span></h3>
            <h3 class="leftQuote"><span class="testimonialQuote">Easy to use, amazing for training, and packed full of features</span><span class="testimonialAttribution">Avery,&nbsp;CPL</span></h3>
        </div>
    </div>
    <h2><img src="@("~/images/rightarrow.png".ToAbsolute())" alt="@comparePrompt" title="@comparePrompt" class="imgMiddle" /> <a href="@("~/mvc/pub/FeatureChart".ToAbsolute())">@comparePrompt</a></h2>
    <div class="homepageRecentStats">
        @{ Html.RenderPartial("_recentStats"); }
    </div>
    <h2 class="headline"><img src="https://myflightbook.com/logbook/images/Home/homeLogging.svg" /> @Resources.Profile.newHomePromoHeader1</h2>
    <div class="featureRow">
        <div class="sideImage w25"><img id="imgIPhoneSample" src="@("~/public/iPhoneImages/iPhone1.png".ToAbsolute())" onclick="javascript: viewMFBImg('@("~/public/iPhoneImages/iPhone1.png".ToAbsolute())');" class="blurredimage imgLeft" /></div>
        <div class="sidePromo w75">
            <p>@Resources.Profile.newHomePromoSect1a</p>
            <p>@Branding.ReBrand(Resources.Profile.newHomePromoSect1b)</p>
            <p>@Resources.Profile.newHomePromoSect1c</p>
        </div>
    </div>
    <div class="featureRow">
        <div class="sidePromo w50">
            <p>@Resources.Profile.newHomePromoSect1d</p>
            <p>@Branding.ReBrand(Resources.Profile.newHomePromoSect1e)</p>
        </div>
        <div class="sideImage w50"><img src="@("~/images/homeEditFlight.png".ToAbsolute())" onclick="javascript: viewMFBImg('@("~/images/homeEditFlight.png".ToAbsolute())');" class="blurredimage" /></div>
    </div>
    <h2 class="headline"><img src="https://myflightbook.com/logbook/images/Home/homeTime.svg" /> @Resources.Profile.newHomePromoHeader2</h2>
    <div class="featureRow">
        <div class="sidePromo w50">
            <p>@Resources.Profile.newHomePromoSect2a</p>
            <p>@Branding.ReBrand(Resources.Profile.newHomePromoSect2b)</p>
        </div>
        <div class="sideImage w50"><img src="@("~/images/home8710.png".ToAbsolute())" onclick="javascript: viewMFBImg('@("~/images/home8710.png".ToAbsolute())');" class="blurredimage" /></div>
    </div>
    <div class="featureRow">
        <div class="sideImage w50"><img src="@("~/images/homeProgress.png".ToAbsolute())" onclick="javascript: viewMFBImg('@("~/images/homeProgress.png".ToAbsolute())');" class="blurredimage" /></div>
        <div class="sidePromo w50">
            <p>@Branding.ReBrand(Resources.Profile.newHomePromoSect2c)</p>
            <p>@Branding.ReBrand(Resources.Profile.newHomePromoSect2d)</p>
            <p>@Branding.ReBrand(Resources.Profile.newHomePromoSect2e)</p>
        </div>
    </div>
    <h2 class="headline"><img src="https://myflightbook.com/logbook/images/Home/homeCurrency.svg" /> @Resources.Profile.newHomePromoHeader3</h2>
    <div class="featureRow">
        <div class="sidePromo w50">
            <p>@Branding.ReBrand(Resources.Profile.newHomePromoSect3a)</p>
            <p>@Branding.ReBrand(Resources.Profile.newHomePromoSect3b)</p>
        </div>
        <div class="sideImage w50"><img src="@("~/images/homeCurrency.png".ToAbsolute())" onclick="javascript: viewMFBImg('@("~/images/homeCurrency.png".ToAbsolute())');" class="blurredimage" /></div>
    </div>
    <h2 class="headline"><img src="https://myflightbook.com/logbook/images/Home/homeSharing.svg" /> @Resources.Profile.newHomePromoHeader4</h2>
    <div class="featureRow">
        <div class="sidePromo w50">
            <p>@Branding.ReBrand(Resources.Profile.newHomePromoSect4a)</p>
        </div>
        <div class="sideImage w50"><img src="@("~/images/homePrint.png".ToAbsolute())" onclick="javascript: viewMFBImg('@("~/images/homePrint.png".ToAbsolute())');" class="blurredimage" /></div>
    </div>
    <div class="featureRow">
        <div class="sideImage w50"><img src="@("~/images/homeSharing.png".ToAbsolute())" onclick="javascript: viewMFBImg('@("~/images/homeSharing.png".ToAbsolute())');" class="blurredimage" /></div>
        <div class="sidePromo w50">
            <p>@Branding.ReBrand(Resources.Profile.newHomePromoSect4b)</p>
        </div>
    </div>
    <h2 class="headline"><img src="https://myflightbook.com/logbook/images/Home/homeCloud.svg" /> @Resources.Profile.newHomePromoHeader5</h2>
    <div class="featureRow">
        <div class="sidePromo">
            <p>@Branding.ReBrand(Resources.Profile.newHomePromoSect6a)</p>
            <p>@Branding.ReBrand(Resources.Profile.newHomePromoSect6b)</p>
        </div>
    </div>
    <div class="featureRow">
        <div class="sideImage w50"><img src="@("~/images/homeBackup.png".ToAbsolute())" onclick="javascript: viewMFBImg('@("~/images/homeBackup.png".ToAbsolute())');" class="blurredimage" /></div>
        <div class="sidePromo w50">
            <p>@Branding.ReBrand(Resources.Profile.newHomePromoSect7a)</p>
        </div>
    </div>
    <div class="featureRow">
        <div class="sidePromo w50">
            <p>@Branding.ReBrand(Resources.Profile.newHomePromoSect7b)</p>
        </div>
        <div class="sideImage w50"><img src="@("~/images/homeDebrief.png".ToAbsolute())" onclick="javascript: viewMFBImg('@("~/images/homeDebrief.png".ToAbsolute())');" class="blurredimage" /></div>
    </div>
    <div class="featureRow">
        <div class="sideImage w50"><img src="@("~/images/homeSchedule.png".ToAbsolute())" onclick="javascript: viewMFBImg('@("~/images/homeSchedule.png".ToAbsolute())');" class="blurredimage" /></div>
        <div class="sidePromo w50">
            <p>@Branding.ReBrand(Resources.Profile.newHomePromoSect7c)</p>
        </div>
    </div>
    <h2 class="headline">@Resources.Profile.newHomePromoHeader6</h2>
    <div class="featureRow">
        <div class="sidePromo">
            <p>@Branding.ReBrand(Resources.Profile.newHomePromoSect8a)</p>
            <p>@Branding.ReBrand(Resources.Profile.newHomePromoSect8b)</p>
        </div>
    </div>
    <h3 class="headline c"><a href="@("~/mvc/auth/newuser".ToAbsolute())">@Resources.Profile.NewUserCreateAccountPrompt</a></h3>
    <h2><img src="@("~/images/rightarrow.png".ToAbsolute())" alt="@learnMorePrompt" title="@learnMorePrompt" class="imgMiddle" /> <a href="@("~/mvc/pub/about".ToAbsolute())">@learnMorePrompt</a></h2>
</div>
