@using MyFlightbook.CloudStorage
@using System.Globalization
@{
    GoogleMediaResponse gmr = ViewBag.gmr;
    string date = ViewBag.date;
}
@if (gmr.mediaItems.Any())
{
    <div id="pnlGPResult" style="margin: 20px; border-radius: 8px; padding: 5px; background-color:lightgray; border: 1px solid darkgray;">
        <div id="pnlGPhotos">
            @for (int i = 0; i < gmr.mediaItems.Count(); i++)
            {
                GoogleMediaItem gmi = gmr.mediaItems.ElementAt(i);
                <div style="display: inline-block;">
                    <a id="lIm" target="_blank" href="@gmi.productUrl"><img src="@String.Format(CultureInfo.InvariantCulture, "{0}=w150-h150", gmi.baseUrl)" alt="@gmi.filename" /></a>
                    <div class="imageMenu">
                        <div><img src="@("~/images/add.png".ToAbsolute())" title="@Resources.LocalizedText.GooglePhotosAddToFlight" alt="@Resources.LocalizedText.GooglePhotosAddToFlight" onclick="javascript: addGoogleItem(this, @i);" /></div>
                    </div>
                </div>
            }
        </div>
        @if (!String.IsNullOrEmpty(gmr.nextPageToken))
        {
        <div>
            <a href="#" onclick="javascript: getGooglePhoto('@date', $('#hdnGPhotoLastResponse').val()); return false;">@Resources.LocalizedText.GooglePhotosGetMore</a>
        </div>
        }
    </div>
}
else
{
    <p>@Resources.LocalizedText.GooglePhotosNoneFound</p>
}
<input type="hidden" id="hdnGPhotoLastResponse" value="@Json.Encode(gmr)" name="gmrJSON" />