@using MyFlightbook
@using System.Globalization

<style type="text/css">
    tr div.displayCell, tr.editRow div.editCell {
        display: block;
    }

    tr div.editCell, tr.editRow div.displayCell {
        display: none;
    }
</style>
<div style="padding: 5px;">
    <input type="hidden" id="hdnSortCcIndexID" value="3" />
    <input type="hidden" id="hdnSortCcDirID" value="asc" />

    <table class="stickyHeaderTable stickyHeaderAlternate">
        <thead>
            <tr>
                <th></th>
                <th class="headerBase gvhDefault gvhCentered" onclick="javascript:sortTable(this, 1, 'num', 'hdnSortCcIndexID', 'hdnSortCcDirID');">ID</th>
                <th class="headerBase gvhDefault gvhCentered" onclick="javascript:sortTable(this, 2, '', 'hdnSortCcIndexID', 'hdnSortCcDirID');">Prefix</th>
                <th class="headerBase gvhDefault gvhCentered headerSortAsc" onclick="javascript:sortTable(this, 3, '', 'hdnSortCcIndexID', 'hdnSortCcDirID');">Country Name</th>
                <th class="headerBase gvhDefault gvhCentered" onclick="javascript:sortTable(this, 4, '', 'hdnSortCcIndexID', 'hdnSortCcDirID');">Locale</th>
                <th class="headerBase gvhDefault gvhCentered" onclick="javascript:sortTable(this, 5, '', 'hdnSortCcIndexID', 'hdnSortCcDirID');">Template</th>
                <th class="headerBase gvhDefault gvhCentered">Template Mode</th>
                <th class="headerBase gvhDefault gvhCentered">Hyphen Rules</th>
                <th class="headerBase gvhDefault gvhCentered"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (CountryCodePrefix cc in ViewBag.rgcc)
            {
                <tr>
                    <td>
                        <div class="displayCell">
                            <a style="cursor:pointer;" onclick="javascript: $(this).parents('tr').toggleClass('editRow');">Edit</a>
                        </div>
                        <div class="editCell">
                            <a style="cursor:pointer;" onclick="javascript: $(this).parents('tr').toggleClass('editRow');">Cancel</a>
                            <a style="cursor:pointer;" onclick="javascript: updateCountryCode(@cc.ID, $(this).parents('tr'));">Update</a>
                        </div>
                    </td>
                    <td>@cc.ID</td>
                    <td>
                        <div class="displayCell">@cc.Prefix</div>
                        <div class="editCell"><input type="text" value="@cc.Prefix" name="txtPrefix" /></div>
                    </td>
                    <td>
                        <div class="displayCell">@cc.CountryName</div>
                        <div class="editCell"><input type="text" value="@cc.CountryName" name="txtCountry" /></div>
                    </td>
                    <td>
                        <div class="displayCell">@cc.Locale</div>
                        <div class="editCell"><input type="text" value="@cc.Locale" name="txtLocale" /></div>
                    </td>
                    <td>
                        <div class="displayCell">@cc.RegistrationLinkTemplate</div>
                        <div class="editCell"><input type="text" value="@cc.RegistrationLinkTemplate" name="txtTemplate" /></div>
                    </td>
                    <td>
                        <div class="displayCell">@cc.RegistrationURLTemplateMode.ToString()</div>
                        <div class="editCell">
                            <select name="ddTempType">
                                <option value="0" @(cc.RegistrationURLTemplateMode == CountryCodePrefix.RegistrationTemplateMode.NoSearch ? "selected" : string.Empty)>@CountryCodePrefix.RegistrationTemplateMode.NoSearch.ToString()</option>
                                <option value="1" @(cc.RegistrationURLTemplateMode == CountryCodePrefix.RegistrationTemplateMode.WholeTail ? "selected" : string.Empty)>@CountryCodePrefix.RegistrationTemplateMode.WholeTail.ToString()</option>
                                <option value="2" @(cc.RegistrationURLTemplateMode == CountryCodePrefix.RegistrationTemplateMode.SuffixOnly ? "selected" : string.Empty)>@CountryCodePrefix.RegistrationTemplateMode.SuffixOnly.ToString()</option>
                                <option value="3" @(cc.RegistrationURLTemplateMode == CountryCodePrefix.RegistrationTemplateMode.WholeWithDash ? "selected" : string.Empty)>@CountryCodePrefix.RegistrationTemplateMode.WholeWithDash.ToString()</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="displayCell">@cc.HyphenPref.ToString()</div>
                        <div class="editCell">
                            <select name="ddHyphenPref">
                                <option value="0" @(cc.HyphenPref == CountryCodePrefix.HyphenPreference.None ? "selected" : string.Empty)>@CountryCodePrefix.HyphenPreference.None.ToString()</option>
                                <option value="1" @(cc.HyphenPref == CountryCodePrefix.HyphenPreference.Hyphenate ? "selected" : string.Empty)>@CountryCodePrefix.HyphenPreference.Hyphenate.ToString()</option>
                                <option value="2" @(cc.HyphenPref == CountryCodePrefix.HyphenPreference.NoHyphen ? "selected" : string.Empty)>@CountryCodePrefix.HyphenPreference.NoHyphen.ToString()</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <button type="button" onclick="javascript:fixHyphenation(@cc.ID, $(this).next());">Fix&nbsp;Aircraft&nbsp;Hyphenation</button>
                        <div style="font-weight:bold;"></div>
                    </td>
                 </tr>
            }
        </tbody>
    </table>
</div>