@using MyFlightbook
@using System.Globalization
@{
    IEnumerable<Aircraft> rgac = ViewBag.rgac;
}
<p>Aircraft that may be invalid:</p>

@if (!rgac.Any())
{
    <p>No invalid aircraft!</p>
}
else
{
    <table class="stickyHeaderTable">
        <thead>
            <tr>
                <th></th>
                <th class="headerBase gvhDefault gvhCentered">Tail</th>
                <th class="headerBase gvhDefault gvhCentered">Model</th>
                <th class="headerBase gvhDefault gvhCentered">Version</th>
                <th class="headerBase gvhDefault gvhCentered">InstanceType</th>
                <th class="headerBase gvhDefault gvhCentered">Issue</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Aircraft ac in ViewBag.rgac)
            {
                <tr>
                    <td><a target="_blank" href="@VirtualPathUtility.ToAbsolute(String.Format(CultureInfo.InvariantCulture, "~/Member/EditAircraft.aspx?id={0}&a=1", ac.AircraftID))">@ac.AircraftID</a></td>
                    <td>@ac.TailNumber</td>
                    <td><a target="_blank" href="@VirtualPathUtility.ToAbsolute(String.Format(CultureInfo.InvariantCulture, "~/Member/EditMake.aspx?id={0}&a=1", ac.ModelID))">@ac.ModelCommonName</a></td>
                    <td>@ac.Version</td>
                    <td>@ac.InstanceTypeDescription</td>
                    <td><span class="error">@ac.ErrorString</span></td>
                </tr>
            }
        </tbody>
    </table>
}
