@using MyFlightbook
@using System.Globalization
@{
    ViewBag.Title = "Admin Tools - Models";
    Layout = "~/Areas/mvc/Views/Shared/_Layout.cshtml";
    ViewBag.defaultTab = tabID.tabAdmin;
    IEnumerable<MakeModel> rgShouldBeSims = ViewBag.modelsThatShouldBeSims;
    IEnumerable<MakeModel> rgOrphans = ViewBag.orphanedModels;
    IEnumerable<MakeModel> rgDupes = ViewBag.dupeModels;
}
<script type="text/javascript">
    function refreshTypes() {
        var params = new Object();
        var d = JSON.stringify(params);
        $.ajax({
            url: '@Url.Action("ReviewTypes", "AdminAircraft")',
            type: "POST", data: d, dataType: "html", contentType: "application/json",
            error: function (xhr, status, error) {
                window.alert(error);
            },
            complete: function (response) { },
            success: function (response) {
                $("#divTypes").html(response);
            }
        });
    }

    function deleteModel(sender, idModel) {
        var params = new Object();
        params.idModel = idModel;
        var d = JSON.stringify(params);
        $.ajax({
            url: '@Url.Action("DeleteModel", "AdminAircraft")',
            type: "POST", data: d, dataType: "text", contentType: "application/json",
            error: function (xhr, status, error) {
                window.alert(xhr.responseText);
            },
            complete: function (response) { },
            success: function (response) {
                $(sender).closest('tr').remove();
            }
        });
        return false;
    }

    function refreshDupes() {
        $("#imgDupePrg").toggle();
        var params = new Object();
        params.fExcludeSims = $("#ckExcludeSims")[0].checked;
        var d = JSON.stringify(params);
        $.ajax({
            url: '@Url.Action("RefreshDupes", "AdminAircraft")',
            type: "POST", data: d, dataType: "html", contentType: "application/json",
            error: function (xhr, status, error) {
                window.alert(xhr.responseText);
            },
            complete: function (response) { },
            success: function (response) {
                $("#imgDupePrg").toggle();
                $("#divDupes").html(response);
            }
        });
    }

    function previewDupes() {
        var params = new Object();
        params.idToKeep = $("#ddModelToKeep").val();
        params.idToKill = $("#ddModelToKill").val();
        var d = JSON.stringify(params);
        $.ajax({
            url: '@Url.Action("PreviewMerge", "AdminAircraft")',
            type: "POST", data: d, dataType: "html", contentType: "application/json",
            error: function (xhr, status, error) {
                window.alert(xhr.responseText);
            },
            complete: function (response) { },
            success: function (response) {
                $("#divMergePreview").html(response);
            }
        });
    }

    function deleteDupeMake(idKeep, idKill) {
        var params = new Object();
        params.idToKeep = idKeep;
        params.idToKill = idKill;
        var d = JSON.stringify(params);
        $.ajax({
            url: '@Url.Action("MergeModels", "AdminAircraft")',
            type: "POST", data: d, dataType: "html", contentType: "application/json",
            error: function (xhr, status, error) {
                window.alert(xhr.responseText);
            },
            complete: function (response) { },
            success: function (response) {
                $("#divMergePreview").text(response);
            }
        });
    }

    $(() => {
        $("#adminTabs").tabs();
    });
</script>
<div id="adminTabs">
    <ul>
        <li><a href="#orphanModels">Orphans</a></li>
        <li><a href="#invalidModels">Invalid Models</a></li>
        <li><a href="#typeModels">Types</a></li>
        <li><a href="#dupeModels">Potential Dupes</a></li>
    </ul>
    <div id="invalidModels">
        <h2>Makes/models that should be sims:</h2>
        @if (rgShouldBeSims == null || rgShouldBeSims.Count() == 0)
        {
            <div class="success">(No suspect makes/models found)</div>
        }
        else
        {
            Html.RenderAction("ModelTable", "AdminAircraft", new { rgModels = rgShouldBeSims, name = "simcandidates", fIncludeDelete = false });
        }
    </div>
    <div id="orphanModels">
        <h2>Orphaned makes/models (i.e., no airplanes using them):</h2>
        @if (rgOrphans == null || rgOrphans.Count() == 0)
        {
            <div class="success">(No orphaned makes/models found)</div>
        }
        else
        {
            Html.RenderAction("ModelTable", "AdminAircraft", new { rgModels = rgOrphans, name = "orphans", fIncludeDelete = true });
        }
    </div>
    <div id="typeModels">
        <h2>Review Type Designations</h2>
        <div id="divTypes">
            <button type="button" onclick="refreshTypes();">Refresh</button>
        </div>
    </div>
    <div id="dupeModels">
        <h2>Models that are potential dupes:</h2>
        <p><input type="checkbox" id="ckExcludeSims" onclick="javascript: refreshDupes();" /><label for="ckExcludeSims">Exclude Sims (i.e., real aircraft only)</label> <img src="@VirtualPathUtility.ToAbsolute("~/images/progress.gif")" style="display: none;" id="imgDupePrg" /></p>
        <p>
            Keep
            <select id="ddModelToKeep">
                @foreach (MakeModel m in rgDupes)
                {
                    <option value="@m.MakeModelID">@m.ModelDisplayNameNoCatclass - @m.MakeModelID</option>
                }
            </select>
            And kill
            <select id="ddModelToKill">
                @foreach (MakeModel m in rgDupes)
                {
                    <option value="@m.MakeModelID">@m.ModelDisplayNameNoCatclass - @m.MakeModelID</option>
                }
            </select>
            (will be deleted)
            <button type="button" onclick="javascript: previewDupes();">Preview</button>
        </p>
        <div id="divMergePreview" style="white-space: pre-line">

        </div>

        <div>&nbsp;</div>
        <div id="divDupes">
            @{ Html.RenderAction("ModelTable", "AdminAircraft", new { rgModels = rgDupes, name = "dupes", fIncludeDelete = false }); }
        </div>
    </div>
</div>
