@{
    ViewBag.Title = Resources.LogbookEntry.ImportHeader;
    ViewBag.defaultTab = tabID.tabLogbook;
    MyFlightbook.Profile pf = MyFlightbook.Profile.GetUser(User.Identity.Name);
    Layout = "~/Areas/mvc/Views/Shared/_Layout.cshtml";
    IEnumerable<string[]> importedItems = ViewBag.importedItems;
    bool hasPending = ViewBag.hasPending;
    IEnumerable<string> resultSummary = ViewBag.resultSummary;
}
<p>@Resources.LogbookEntry.ImportSuccessful</p>
<ul>
    @foreach (string s in resultSummary)
    {
        <li>@s</li>
    }
</ul>
<ul class="nextStep">
    <li><a href="@("~/mvc/flights".ToAbsolute())">@Resources.LogbookEntry.ImportViewImportedFlights</a></li>
    @if (hasPending)
    {
    <li><a href="@("~/mvc/flightedit/pending".ToAbsolute())">@Resources.LogbookEntry.ImportViewImportedFlightsPending</a></li>
    }
</ul>
<div id="plcProgress">
    @foreach (string[] rgsz in importedItems)
    {
        <div class="@rgsz[0]">@rgsz[1]</div>
    }
</div>