@using System.Globalization
<table style="width: 100%" cellpadding="5" cellspacing="5">
    @foreach (Aircraft ac in ViewBag.aircraft)
    {
        string szURL = ac.LinkForTailnumberRegistry();
        <tr>
            <td class="gvAcItem">
                <div>
                    <a class="largeBold" href="@AircraftUtility.EditLink(ac.AircraftID, true)">@ac.DisplayTailnumber</a>
                    - @ac.ModelDescription - @ac.ModelCommonName (@ac.CategoryClassDisplay)
                </div>
                <div>@ac.InstanceTypeDescription</div>
            </td>
            <td class="gvContext">
                @if (!String.IsNullOrEmpty(szURL))
                {
                    <a href="@szURL" target="_blank">@Resources.Aircraft.editAircraftRegistrationPrompt</a>
                }
            </td>
        </tr>
    }
</table>
