@using System.Globalization
@using MyFlightbook.Templates
@{ 
    string migrateFunc = ViewBag.migrateFunc;
    Aircraft ac = ViewBag.aircraft;
    string rblGroup = String.Format(CultureInfo.InvariantCulture, "roleGroup{0}", ac.AircraftID);
    string idCKAddName = String.Format(CultureInfo.InvariantCulture, "ckAddName{0}", ac.AircraftID);
    string idRBNone = String.Format(CultureInfo.InvariantCulture, "rbroleNone{0}", ac.AircraftID);
    string idRBCFI = String.Format(CultureInfo.InvariantCulture, "rbroleCFI{0}", ac.AircraftID);
    string idRBPIC = String.Format(CultureInfo.InvariantCulture, "rbrolePIC{0}", ac.AircraftID);
    string idRBSIC = String.Format(CultureInfo.InvariantCulture, "rbroleSIC{0}", ac.AircraftID);
    IEnumerable<TemplateCollection> collection = TemplateCollection.GroupTemplates(UserPropertyTemplate.TemplatesForUser(User.Identity.Name, false));
}
<div class="popContainer">
    <img src="@VirtualPathUtility.ToAbsolute("~/images/MenuChevron.png")" class="popTrigger" />
    <div class="popMenuContent popMenuHidden" style="margin-top: -5px;">
        <h2>@String.Format(CultureInfo.CurrentCulture, Resources.Aircraft.optionHeader, ac.DisplayTailnumber)</h2>
        <div><label><input type="checkbox" @(ac.HideFromSelection ? string.Empty : "checked") onclick="javascript: toggleFavorite(@ac.AircraftID, this.checked, '@VirtualPathUtility.ToAbsolute("~/Member/Ajax.asmx/SetActive")')" />@Resources.Aircraft.optionHideFromMainList</label></div>
        <hr />
        <div style="font-weight:bold;">@Resources.Aircraft.optionRolePrompt</div>
        <table>
            <tr style="vertical-align:top">
                <td>
                    <input type="radio" name="@rblGroup" @(ac.RoleForPilot == Aircraft.PilotRole.None ? "checked" : string.Empty) id="@idRBNone"
                           onclick="javascript: setRole(@ac.AircraftID, '@Aircraft.PilotRole.None', false, $('#' + '@idCKAddName')[0], '@VirtualPathUtility.ToAbsolute("~/Member/Ajax.asmx/SetRole")')" />
                </td>
                <td><label for="@idRBNone">@Resources.Aircraft.optionRoleNone</label></td>
            </tr>
            <tr style="vertical-align:top">
                <td>
                    <input type="radio" name="@rblGroup" @(ac.RoleForPilot == Aircraft.PilotRole.CFI ? "checked" : string.Empty) id="@idRBCFI"
                           onclick="javascript: setRole(@ac.AircraftID, '@Aircraft.PilotRole.CFI', false, $('#' + '@idCKAddName')[0], '@VirtualPathUtility.ToAbsolute("~/Member/Ajax.asmx/SetRole")')" />
                </td>
                <td><label for="@idRBCFI">@Resources.Aircraft.optionRoleCFI</label></td>
            </tr>
            <tr style="vertical-align:top">
                <td>
                    <input type="radio" name="@rblGroup" @(ac.RoleForPilot == Aircraft.PilotRole.PIC ? "checked" : string.Empty) id="@idRBPIC"
                           onclick="javascript: setRole(@ac.AircraftID, '@Aircraft.PilotRole.PIC', $('#' + '@idCKAddName')[0].checked, $('#' + '@idCKAddName')[0], '@VirtualPathUtility.ToAbsolute("~/Member/Ajax.asmx/SetRole")')" />
                </td>
                <td>
                    <div><label for="@idRBPIC">@Resources.Aircraft.optionRolePIC</label></div>
                    <div>
                        <label>
                            <input type="checkbox" id="@idCKAddName" @(ac.CopyPICNameWithCrossfill ? "checked" : string.Empty)
                                   onclick="javascript: $('#' + '@idRBPIC')[0].click();" />@Resources.Aircraft.optionRolePICName
                            </label>
                        </div>
                    </td>
                </tr>
                <tr style="vertical-align:top">
                    <td>
                        <input type="radio" name="@rblGroup" @(ac.RoleForPilot == Aircraft.PilotRole.SIC ? "checked" : string.Empty) id="@String.Format(CultureInfo.InvariantCulture, "rbroleSIC{0}", ac.AircraftID)"
                               onclick="javascript: setRole(@ac.AircraftID, '@Aircraft.PilotRole.SIC', false, $('#' + '@idCKAddName')[0], '@VirtualPathUtility.ToAbsolute("~/Member/Ajax.asmx/SetRole")')" />
                    </td>
                    <td><label for="@idRBSIC">@Resources.Aircraft.optionRoleSIC</label></td>
                </tr>
            </table>
            @if (collection.Any())
            {
                <hr />
                <div style="font-weight: bold">@Resources.LogbookEntry.TemplateAircraftHeader</div>
                foreach (TemplateCollection tc in collection)
                {
                    <div style="font-weight:bold; font-size: smaller">@tc.GroupName</div>
                    foreach (PropertyTemplate pt in tc.Templates)
                    {
                        <div>
                            <label>
                                <input type="checkbox" @(ac.DefaultTemplates.Contains(pt.ID) ? "checked" : string.Empty)
                                       onclick="javascript: toggleTemplate(@ac.AircraftID, @pt.ID, this.checked, '@VirtualPathUtility.ToAbsolute("~/Member/Ajax.asmx/AddRemoveTemplate")');" />
                                @pt.Name
                            </label>
                        </div>
                    }
                }
            }
            @if (!String.IsNullOrEmpty(migrateFunc))
            {
                <hr />
                <div style="margin-left: 20px;"><a style="cursor: pointer;" onclick="javascript:@(migrateFunc)(@ac.AircraftID);">@Resources.Aircraft.editAircraftMigrate</a></div>
            }
        </div>
</div>
