@using System.Globalization
@using MyFlightbook.Templates
@{
    IEnumerable<Aircraft> rgac = ViewBag.aircraft;
    string deleteFunc = ViewBag.deleteFunc;
}
<table style="width: 100%" cellpadding="5" cellspacing="5">
    @foreach (Aircraft ac in rgac)
    {
        MakeModel mm = MakeModel.GetModel(ac.ModelID);
        <tr>
            <td class="gvAcImage">
                @{ Html.RenderAction("HoverImageList", "Image", new { rgmfbii = ac.AircraftImages, imageClasses = ac.HideFromSelection ? "inactiveRow" : "activeRow" }); }
            </td>
            <td class="gvAcItem">
                <div>
                    <a class="largeBold" href="@AircraftUtility.EditLink(ac.AircraftID)">@ac.DisplayTailnumber</a>
                    - @ac.ModelDescription - @ac.ModelCommonName (@ac.CategoryClassDisplay)
                </div>
                <div>@ac.InstanceTypeDescription</div>
                <div class="@(ac.HideFromSelection ? "inactiveRow" : "activeRow")">
                    <div class="wsprel">@Html.Raw(ac.PublicNotes.Linkify())</div>
                    <div class="wsprel">@Html.Raw(ac.PrivateNotes.Linkify())</div>
                    @{ Html.RenderAction("RenderLinkedStringList", "MFBTemplate", new { lst = AircraftStats.AttributeListForUser(ac.Stats, null, User.Identity.Name, null, mm, ac.AvionicsTechnologyUpgrade, ac.GlassUpgradeDate) }); }
                </div>
            </td>
            <td class="gvAcInactive">
                @if (ac.HideFromSelection)
                {
                    <img src="@VirtualPathUtility.ToAbsolute("~/images/circleslash.png")" alt="@Resources.Aircraft.InactiveAircraftNote" title="@Resources.Aircraft.InactiveAircraftNote" />
                }
            </td>
            <td class="gvContext">
                <div class="popContainer">
                    <div class="ctxtMenuIcon popTrigger"></div>
                    <div class="popMenuContent popMenuHidden ctxtTight">
                        <h2>@String.Format(CultureInfo.CurrentCulture, Resources.Aircraft.optionHeader, ac.DisplayTailnumber)</h2>
                        @Html.Raw(ac.ContextMenuOptions())
                        @if (ViewBag.hasTemplates)
                        {
                            <hr />
                            <h3>@Resources.LogbookEntry.TemplateAircraftHeader</h3>
                            @Html.Raw(TemplateCollection.TemplateContextMenuForAircraft(ViewBag.templates, ac))
                        }
                        @if (!String.IsNullOrEmpty(ViewBag.migrateFunc))
                        {
                            <hr />
                            <div class="indent"><a href="#" onclick="javascript:@(ViewBag.migrateFunc)(@ac.AircraftID); return false;">@Resources.Aircraft.editAircraftMigrate</a></div>
                        }
                    </div>
                </div>
            </td>
            <td class="gvDelete">
                @if (!String.IsNullOrEmpty(deleteFunc))
                {
                    <img src="@VirtualPathUtility.ToAbsolute("~/images/x.gif")" alt="@Resources.LocalizedText.MyAircraftDeleteAircraft" title="@Resources.LocalizedText.MyAircraftDeleteAircraft" onclick="javascript: @(deleteFunc)(@ac.AircraftID);" />
                }
            </td>
        </tr>
    }
</table>