@using System.Globalization
@{
    ViewBag.Title = Resources.Makes.makesHeader;
    ViewBag.defaultTab = tabID.tabAircraft;
    Layout = "~/Areas/mvc/Views/Shared/_Layout.cshtml";
    ViewBag.sheets = new string[] { $"~/public/CSS/holdprogress.css?v={MFBConstants.StyleSheetVer}".ToAbsolute() };
    ModelQuery mq = ViewBag.mq;
}
<script src='@VirtualPathUtility.ToAbsolute("~/Public/Scripts/endless-scroll.js")'></script>
<script type="text/javascript">
    var limit = @mq.Limit;
    var queryJSON = '@Html.Raw(Json.Encode(mq))';

    function getNextSet() {
        $("#imgPrg").show();
        var params = new Object();
        params.skip = $("#resultsBody").children().length;
        params.limit = limit;
        params.sortDir = $("#hdnSortDir").val();
        params.sortMode = $("#hdnSortKey").val();
        params.queryJSON = queryJSON;
        $.ajax(
            {
                type: "POST",
                data: JSON.stringify(params),
                url: "@Url.Action("MakeRows", "Aircraft")",
                dataType: "html",
                contentType: "application/json",
                error: function (response) {
                    alert(response.responseText);
                },
                complete: function (response) {
                    $("#imgPrg").hide();
                },
                success: function (response) {
                    var body = $("#resultsBody");
                    body.append(response);
                    if (body.children().length == 0)
                        $("#divNoResults").show();
                    else
                        $("#tableResult").show();
                }
            });
    }

    $(() => {
        defaultButtonForDiv("vwAdvancedSearch", "btnSearch");
    });

    function setSearchMode(simple) {
        if (simple) {
            $('#vwSimpleSearch').show();
            $('#vwAdvancedSearch').hide();
            $('#hdnAdvancedSearch').val("false");
        }
        else {
            $('#vwSimpleSearch').hide();
            $('#vwAdvancedSearch').show();
            $('#hdnAdvancedSearch').val("true");
        }
        $("input[type=text]").val("");
    }

    function setSearchHeaders(mode, dir) {
        $("#trHeaderRow").find("th").removeClass("headerSortAsc").removeClass("headerSortDesc");

        var newClass = (dir == "@MyFlightbook.SortDirection.Descending.ToString()") ? "headerSortDesc" : "headerSortAsc";

        if (mode == "@ModelQuery.ModelSortMode.Manufacturer.ToString()")
            $("#thManufacturer").addClass(newClass);
        else if (mode == "@ModelQuery.ModelSortMode.ModelName.ToString()")
            $("#thModel").addClass(newClass);
        else if (mode == "@ModelQuery.ModelSortMode.CatClass.ToString()")
            $("#thCatClass").addClass(newClass);
    }

    function sortModels(key) {
        var curSortKey = $("#hdnSortKey").val();
        if (curSortKey == key) {
            $("#hdnSortDir").val($("#hdnSortDir").val() == "@MyFlightbook.SortDirection.Descending.ToString()" ? "@MyFlightbook.SortDirection.Ascending.ToString()" : "@MyFlightbook.SortDirection.Descending.ToString()");
        } else {
            $("#hdnSortDir").val("@MyFlightbook.SortDirection.Ascending.ToString()");
            $("#hdnSortKey").val(key)
        }
        $("#resultsBody").html("");
        setSearchHeaders($("#hdnSortKey").val(), $("#hdnSortDir").val());
        getNextSet();
    }
</script>
@if (ViewBag.getResults)
{
    <script type="text/javascript">
        $(() => {
            $(document).endlessScroll({
                bottomPixels: 300,
                fireOnce: true,
                fireDelay: 2000,
                callback: function (p) {
                    // ajax call to fetch next set of rows
                    getNextSet();
                }
            });
            getNextSet();
            setSearchHeaders("@mq.SortMode.ToString()", "@mq.SortDir.ToString()");
        });
    </script>
}
<div class="calloutSmall shadowed w90 imgMiddle hc" style="display:flex; margin-bottom: 5pt;">
    <div style="flex:auto;">
        <div class="dib">
            @using (Html.BeginForm("Makes", "Aircraft", FormMethod.Post, new { name = "frmSearch", id = "frmSearch" }))
            {
                <input type="hidden" name="fAdvancedSearch" id="hdnAdvancedSearch" value="@Json.Encode(ViewBag.fAdvanced)" />
                <input type="hidden" name="sortKey" id="hdnSortKey" value="@mq.SortMode.ToString()" />
                <input type="hidden" name="sortDir" id="hdnSortDir" value="@mq.SortDir.ToString()" />
                <div id="vwSimpleSearch" class="@(mq.IsAdvanced ? "dn" : string.Empty)">
                    <div style="vertical-align:top; height: 40px;">
                        <div class="dib imgMiddle">
                            @{ Html.RenderAction("RenderSearchBox", "MFBTemplate", new { id = "makeSimpleSearch", placeholder = Resources.Makes.searchTip, text = mq.FullText }); }
                        </div>
                        <a class="imgMiddle" href="#" onclick="javascript: setSearchMode(false); return false;">@Resources.Makes.makesAdvancedSearch</a>
                    </div>
                    <div class="fineprint">@Resources.Makes.searchWildcardTip</div>
                </div>
                <div id="vwAdvancedSearch" class="@(mq.IsAdvanced ? string.Empty : "dn")">
                    <table>
                        <tr>
                            <td>@Resources.Makes.makesAdvManufacturer</td>
                            <td><input type="text" id="txtManufacturer" name="manufacturer" placeholder="@Resources.Makes.makesAdvManufacturer" value="@mq.ManufacturerName" /></td>
                        </tr>
                        <tr>
                            <td>
                                @Resources.Makes.makesAdvModel<br />
                                <span class="fineprint">@Resources.Makes.makesAdvModelSample</span>
                            </td>
                            <td><input type="text" id="txtModel" name="model" placeholder="@Resources.Makes.makesAdvModel" value="@mq.Model" /></td>
                        </tr>
                        <tr>
                            <td>
                                @Resources.Makes.makesAdvModelName<br />
                                <span class="fineprint">@Resources.Makes.makesAdvModelNameSample</span>
                            </td>
                            <td><input type="text" id="txtModelName" name="modelName" placeholder="@Resources.Makes.makesAdvModelName" value="@mq.ModelName" /> @{ Html.RenderAction("RenderTooltip", "MFBTemplate", new { tipID = "icaoTips", tipTextHtml = Resources.Makes.searchICAOTip }); }</td>
                        </tr>
                        <tr>
                            <td>@Resources.Makes.makesAdvModelType</td>
                            <td><input type="text" id="txtTypeName" name="typeName" value="@mq.TypeName" placeholder="@Resources.Makes.makesAdvModelType" /></td>
                        </tr>
                        <tr>
                            <td>@Resources.Makes.makesAdvCatClass</td>
                            <td><input type="text" id="txtCatClass" name="catClass" value="@mq.CatClass" placeholder="@Resources.Makes.makesAdvCatClass" /></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <button id="btnSearch" type="submit">@Resources.Makes.makesSearchMakes</button>
                            </td>
                        </tr>
                    </table>
                    <a class="imgMiddle" href="#" onclick="javascript: setSearchMode(true); return false;">@Resources.Makes.makesSimpleSearch</a>
                </div>
            }
        </div>
    </div>
    <div style="flex:auto; text-align: right;">
        <div class="dib b">
            <img src="@VirtualPathUtility.ToAbsolute("~/images/add.png")" class="imgMiddle" style="height: 20px; width: 20px;" />
            <a href="@VirtualPathUtility.ToAbsolute("~/mvc/Aircraft/ViewModel/-1")">@Resources.Makes.makesAddModel</a>
        </div>
    </div>
</div>
<input id="hdnQueryJSON" type="hidden" value="@Json.Encode(mq)" />
<table class="stickyHeaderTable dn" id="tableResult">
    <thead>
        <tr id="trHeaderRow">
            <th style="width: 160px;"></th>
            <th onclick="javascript: sortModels('@ModelQuery.ModelSortMode.Manufacturer.ToString()');" id="thManufacturer" class="headerBase gvhDefault gvhLeft">
                @Resources.Makes.makesSortManufacturer
            </th>
            <th onclick="javascript: sortModels('@ModelQuery.ModelSortMode.ModelName.ToString()');" id="thModel" class="headerBase gvhDefault gvhLeft">
                @Resources.Makes.makesSortModel
            </th>
            <th onclick="javascript: sortModels('@ModelQuery.ModelSortMode.CatClass.ToString()');" id="thCatClass" class="headerBase gvhDefault gvhLeft">
                @Resources.Makes.makesSortCatClass
            </th>
        </tr>
    </thead>
    <tbody id="resultsBody">
    </tbody>
</table>
<div class="dn c" id="divNoResults">@Resources.Makes.makesNoResults</div>
@if (!ViewBag.getResults)
{
    <div class="c">@String.Format(CultureInfo.CurrentCulture, Resources.Makes.makesPrompt, MakeModel.ModelCount())</div>
}
<div class="dn" id="imgPrg">
    <div class="hc c" style="width: 244px;">
        <div class="holdProgressContainer">
            <div class="holdProgressPlane"></div>
        </div>
        <h2>@Resources.LocalizedText.PleaseHold</h2>
    </div>
</div>
