@using System.Globalization
@using MyFlightbook.Image
@{
    int idModel = ViewBag.idModel;
    MakeModel mm = ViewBag.model;
    bool fAdmin = ViewBag.fAdmin;
    ViewBag.Title = mm.DisplayName;
    ViewBag.defaultTab = tabID.tabAircraft;
    IEnumerable<Aircraft> rgac = ViewBag.userAircraft;
    MakeModelStats stats = ViewBag.userStats;
    Layout = "~/Areas/mvc/Views/Shared/_Layout.cshtml";
}

<div style="vertical-align:middle">
    <span style="font-size: larger; font-weight: bold;">@mm.DisplayName</span>
    <a href="@VirtualPathUtility.ToAbsolute(String.Format("~/mvc/Aircraft/EditModel/{0}", mm.MakeModelID))"><img src="@VirtualPathUtility.ToAbsolute("~/images/pencilsm.png")" title="@Resources.Makes.editModelPrompt" /></a>
</div>
@{ Html.RenderAction("RenderLinkedStringList", "MFBTemplate", new { lst = mm.AttributeListForUser(ViewBag.userAircraft, User.Identity.Name, stats, null) }); }
@if (fAdmin)
{
    <div><a target="_blank" href="@VirtualPathUtility.ToAbsolute(String.Format(CultureInfo.InvariantCulture, "~/mvc/Aircraft?a=1&m={0}", idModel))">ADMIN - View Aircraft</a></div>
}
<br />
<div>
    @if (rgac.Any())
    {
        <script type="text/javascript" src="@VirtualPathUtility.ToAbsolute("~/Public/Scripts/aircraftcontext.js?v=3")"></script>
        Html.RenderAction("AircraftListItem", "Aircraft", new { rgac = rgac });
    }
    else
    {
        Html.RenderAction("ImageListDisplay", "Image", new { il = new ImageList(mm.SampleImages(16).ToArray()) });
    }
</div>
