@using System.Globalization
@{
    bool fAdminMode = ViewBag.fAdminMode;
    IEnumerable<Aircraft> rgac = ViewBag.sourceAircraft;
    IEnumerable<AircraftGroup> rgGroups = ViewBag.groupedAircraft;
    AircraftGroup.GroupMode groupingMode = ViewBag.groupMode;
    Profile pf = MyFlightbook.Profile.GetUser(User.Identity.Name);
    bool fHasTachTime = pf.PreferenceExists(MyFlightbook.OAuth.TachTime.TachTimeClient.TokenPrefKey);

    ViewBag.Title = Resources.LocalizedText.MyAircraftHeader + (fAdminMode ? " - ADMIN MODE (No images or delete)" : string.Empty);
    ViewBag.defaultTab = tabID.tabAircraft;
    Layout = "~/Areas/mvc/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="@VirtualPathUtility.ToAbsolute("~/Public/Scripts/aircraftcontext.js?v=3")"></script>
<script type="text/javascript">
    var userAircraft = [
        @foreach (Aircraft ac in rgac)
        {
            @:{ t: '@ac.DisplayTailnumberWithModel', id: @ac.AircraftID },
        }
    ];

    function deleteAircraft(id) {
        if (confirm("@Resources.LocalizedText.MyAircraftConfirmDeleteAircraft")) {
            var params = new Object();
            params.idAircraft = id;
            var d = JSON.stringify(params);
            $.ajax({
                url: "@Url.Action("DeleteAircraftForUser", "Aircraft")",
                type: "POST", data: d, dataType: "text", contentType: "application/json",
                error: function (xhr, status, error) { window.alert(xhr.responseText); },
                success: function (r) {
                    window.location.reload();
                }
            });
        }
    }

    function migrateAircraft(id) {
        $("#hdnMigSrc").val(id);
        var cmb = $("#cmbTargetAircraft");
        cmb.empty();
        userAircraft.forEach(function (ac, index) {
            if (ac.id != id) {
                cmb.append($("<option value='" + ac.id + "'>" + ac.t + "</option>"));
            } else {
                $("#migratePrompt").text("@Resources.Aircraft.editAircraftMigratePrompt".replace("{0}", ac.t));
            }
        });
        showModalById('pnlMigrate', '@Resources.Aircraft.editAircraftMigrate', 450);
    }

    function doMigrate() {
        if (confirm("@Resources.Aircraft.editAircraftMigrateConfirm")) {
            $("#frmMigrate")[0].submit();
        }
    }

    function importTT() {
        $("#imgTTProgress").show();
        $.ajax({
            url: "@Url.Action("TachTimeRefresh", "oAuth")",
            type: "POST", data: JSON.stringify(new Object()), dataType: "html", contentType: "application/json",
            error: function (xhr, status, error) { window.alert(xhr.responseText); },
            complete: function (r) {
                $("#imgTTProgress").hide();
            },
            success: function (r) {
                $("#pnlSyncMaintResult").html(r);
                showModalById('pnlSyncMaintResult', '@Resources.Aircraft.TachTimeSyncResult', 450);
            }
        });
    }

    $(() => {
         defaultButtonForDiv("pnlMigrate", "btnMigrate");
     });
</script>
<div style="width: 100%;">
    <p>@Resources.LocalizedText.MyAircraftDesc</p>
    <div class="w90 hc">
        <div class="calloutSmall shadowed b imgMiddle" style="line-height: 20pt; display:flex; margin-bottom: 5pt;">
            <a style="flex:1;" class="imgMiddle" href="@("~/mvc/aircraft/new".ToAbsolute())">
                <img src="@VirtualPathUtility.ToAbsolute("~/images/add.png")" class="imgMiddle" style="margin-right: 5px; margin-left: 0px;" />
                @Resources.LocalizedText.MyAircraftAddAircraft
            </a>
            <a style="flex:1;" class="imgMiddle" href="@VirtualPathUtility.ToAbsolute("~/mvc/import/aircraft")">
                <img src="@VirtualPathUtility.ToAbsolute("~/images/import.png")" class="imgMiddle" style="margin-right: 5px;" />
                @Resources.Aircraft.ImportTitle
            </a>
            @if (!fAdminMode)
            {
                <span style="flex: 1">
                    @using (Html.BeginForm("DownloadAircraft", "Aircraft", FormMethod.Post, new { id = "frmDownloadAircraft", name = "frmDownloadAircraft" }))
                    {
                    @Html.AntiForgeryToken()
                    <a class="imgMiddle" href="#" onclick="javascript: $('#frmDownloadAircraft')[0].submit(); return false;">
                        <img src="@VirtualPathUtility.ToAbsolute("~/images/download.png")" class="imgMiddle" style="margin-right: 5px; margin-left:5px;" />
                        <img src="@VirtualPathUtility.ToAbsolute("~/images/csvicon_sm.png")" class="imgMiddle" style="margin-right: 5px; margin-left:5px;" />
                        @Resources.Aircraft.DownloadCSV
                    </a>
                    }
                </span>
                if (fHasTachTime)
                {
                    <div style="flex: 1;">
                        <a class="imgMiddle" href="#" onclick="javascript: importTT(); return false;">
                            <img src="@VirtualPathUtility.ToAbsolute("~/images/download.png")" class="imgMiddle" style="margin-right: 5px; margin-left:5px;" />
                            @Resources.Aircraft.TachTimeSyncTitle <img class="imgMiddle dn" id="imgTTProgress" src="@("~/images/progress.gif".ToAbsolute())" style="height:16pt; width:16pt;" />
                        </a>
                    </div>
                }
            }
        </div>
    </div>
    @if (fHasTachTime)
    {
        <div id="pnlSyncMaintResult" class="dn"></div>
    }
    @using (Html.BeginForm("Index", "Aircraft", FormMethod.Get))
    {
        <div class="c" style="margin-top: 15pt; margin-bottom: 15pt;">
            @Resources.Aircraft.ViewAircraftPrompt
            <select id="cmbAircraftGrouping" name="gm" onchange="this.form.submit();">
                <option @(groupingMode == AircraftGroup.GroupMode.Activity ? "selected" : string.Empty) value="@AircraftGroup.GroupMode.Activity">@Resources.Aircraft.ViewAircraftActive</option>
                <option @(groupingMode == AircraftGroup.GroupMode.All ? "selected" : string.Empty) value="@AircraftGroup.GroupMode.All">@Resources.Aircraft.ViewAircraftAll</option>
                <option @(groupingMode == AircraftGroup.GroupMode.Model ? "selected" : string.Empty) value="@AircraftGroup.GroupMode.Model">@Resources.Aircraft.ViewAircraftModel</option>
                <option @(groupingMode == AircraftGroup.GroupMode.ICAO ? "selected" : string.Empty) value="@AircraftGroup.GroupMode.ICAO">@Resources.Aircraft.ViewAircraftICAO</option>
                <option @(groupingMode == AircraftGroup.GroupMode.CategoryClass ? "selected" : string.Empty) value="@AircraftGroup.GroupMode.CategoryClass">@Resources.Aircraft.ViewAircraftCategoryClass</option>
                <option @(groupingMode == AircraftGroup.GroupMode.Recency ? "selected" : string.Empty) value="@AircraftGroup.GroupMode.Recency">@Resources.Aircraft.ViewAircraftRecency</option>
            </select>
            @(rgac.Any() ? String.Format(CultureInfo.CurrentCulture, Resources.Aircraft.MyAircraftAircraftCount, rgac.Count()) : Resources.LocalizedText.MyAircraftNoAircraft)
        </div>
    }
</div>
<div style="max-width:800px">
    @foreach (AircraftGroup g in rgGroups)
    {
        <h2>@g.GroupTitle <span style="font-size:smaller">@(String.IsNullOrEmpty(g.GroupTitle) ? string.Empty : String.Format(CultureInfo.CurrentCulture, Resources.Aircraft.MyAircraftAircraftGroupCount, g.MatchingAircraft.Count()))</span></h2>
        Html.RenderAction("AircraftListItem", "Aircraft", new { rgac = g.MatchingAircraft, fAdminMode = fAdminMode, deleteFunc = "deleteAircraft", migrateFunc = "migrateAircraft" });
    }
</div>
<div id="pnlMigrate" class="dn">
    <div style="max-width: 450px">
        @using (Html.BeginForm("MigrateAircraft", "Aircraft", FormMethod.Post, new { id = "frmMigrate", name = "frmMigrate" }))
        {
            @Html.AntiForgeryToken()
            <div id="migratePrompt"></div>
            <div class="hc">
                <div>
                    <select id="cmbTargetAircraft" name="idTarget">
                    </select>
                </div>
                <div><label><input type="checkbox" id="ckDelAfterMigr" name="fDeleteAfterMigrate" />@Resources.Aircraft.editAircraftRemoveAfterMigrate</label></div>
            </div>
            <div class="c" style="margin-top: 5px;">
                <button type="button" id="btnMigrate" onclick="doMigrate();">@Resources.Aircraft.editAircraftMigrateReplace</button>
            </div>
            <input type="hidden" id="hdnMigSrc" name="idSrc" value="" />
        }
    </div>
</div>

