<div class="noprint" style="width: 100%">
    <div id="headerBar" style="width: 100%">
        <div id="headerLogo">
            <a href='@VirtualPathUtility.ToAbsolute("~/mvc/pub")'>
                <img src="@VirtualPathUtility.ToAbsolute(Branding.CurrentBrand.LogoHRef)" />
            </a>
        </div>
        <div id="headerProfile">
            <div id="headerSearchAndSign">
                <div id="headerSearchBox">
                    <div style="padding-top:3px;">
                        @using (Html.BeginForm("Search", "MFBTemplate", FormMethod.Post))
                        {
                            Html.RenderAction("RenderSearchBox", "MFBTemplate", new { id = "searchBox", placeholder = Resources.LocalizedText.SearchBoxWatermark });
                        }
                    </div>
                        </div>
                <div id="headerLoginStatus">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            <img id="imgHdSht" class="headerHeadSht popTrigger" src="@ViewBag.HeadShot" />
                            <div class="popMenuContent popMenuHidden" style="margin-top: -5px; margin-left: -5px;" id="headerLoginPop">
                                <div>@ViewBag.MemberDate</div>
                                <div>@ViewBag.LastLogin</div>
                                <div>@ViewBag.LastActivity</div>
                                <script type="text/javascript">
                                    function signOut() {
                                        document.getElementById("signOut").click();
                                    }
                                </script>
                                @using (Html.BeginForm("SignOut", "MFBTemplate", FormMethod.Post))
                                {
                                    <div id="signOutRow"><a href="javascript:signOut();">@Resources.LocalizedText.LoginStatusSignOut</a></div>
                                    <input type="submit" style="display:none;" id="signOut" />
                                }
                            </div>
                            }
                        }
                    <div id="headerWelcome">
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <div style="padding: 2px; margin-top: 2px; width: 180px"><span style="vertical-align:middle">@ViewBag.Greeting</span></div>
                                <div style="padding:2px; font-weight: bold;"><a href="@VirtualPathUtility.ToAbsolute("~/mvc/Donate")">@Branding.ReBrand(Resources.LocalizedText.DonateSolicitation)</a></div>
                            }
                            else
                            {
                                <div>
                                    <a href="@VirtualPathUtility.ToAbsolute("~/mvc/auth")">@Resources.LocalizedText.LoginStatusSignIn</a> |
                                    <a href="@VirtualPathUtility.ToAbsolute("~/Logon/newuser.aspx")">@Resources.LocalizedText.LoginStatusCreateAccount</a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="headerMiddleContainer">
            @{
                if (String.IsNullOrEmpty(ViewBag.WebinarText))
                {
                        <div id="headerMobileCrossSell">
                            <img src='@VirtualPathUtility.ToAbsolute("~/images/Smartphone.png")' style="vertical-align:middle" />
                            @{
                                if (Request != null && Request.UserAgent != null)
                                {
                                    string s = Request.UserAgent.ToUpperInvariant();

                                    if (s.Contains("IPHONE"))
                                    {
                                        <a href='@VirtualPathUtility.ToAbsolute("~/mvc/pub/MobileApps?selectedOS=iPhone")'>@Branding.ReBrand(Resources.LocalizedText.HeaderDownloadIOS)</a>
                                    }
                                    else if (s.Contains("IPAD"))
                                    {
                                        <a href='@VirtualPathUtility.ToAbsolute("~/mvc/pub/MobileApps?selectedOS=iPad")'>@Branding.ReBrand(Resources.LocalizedText.HeaderDownloadIOS)</a>
                                    }
                                    else if (s.Contains("DROID"))
                                    {
                                        <a href='@VirtualPathUtility.ToAbsolute("~/mvc/pub/MobileApps?selectedOS=Android")'>@Branding.ReBrand(Resources.LocalizedText.HeaderDownloadAndroid)</a>
                                    }
                                    else
                                    {
                                        <a href='@VirtualPathUtility.ToAbsolute("~/Public/MobileApps.aspx")'>@Branding.ReBrand(Resources.LocalizedText.HeaderDownload)</a>
                                        @Html.Raw(Resources.LocalizedText.HeaderDownloadIsFree)
                                    }
                                }
                            }
                        </div>
                }
                else
                {
                    <div class="calloutSmall calloutBackground shadowed" style="height: 32px; line-height: 32px; text-align: center;">
                        <span onclick="showWebinar();" class="displayPop" style="vertical-align:middle">@Html.Raw(ViewBag.WebinarText)</span>
                    </div>
                    <div id="webinarPop" style="display: none;">
                        <div style="text-align: left; white-space: pre-line;">@Html.Raw(ViewBag.WebinarDetails)</div>
                        <div style="text-align:center"><button class="closePop" onclick="javascript:dismissDlg('#webinarPop');" />Close</div>
                    </div>
                    <script type="text/javascript">
                        function showWebinar() {
                            $("#webinarPop").dialog({ autoOpen: true, closeOnEscape: true, width: 400, modal: true });
                        }
                    </script>
                }
            }
            <div id="headerMenuContainer">
                <ul id="menu-bar">
                    @Html.Raw(ViewBag.TabHTML)
                </ul>
            </div>
        </div>
    </div>
</div>
