<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src='@String.Format(System.Globalization.CultureInfo.InvariantCulture, "https://www.googletagmanager.com/gtag/js?id={0}", LocalConfig.SettingForKey(Request.IsLocal ? "GoogleAnalyticsGA4Developer" : "GoogleAnalyticsGA4Production"))'></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '@LocalConfig.SettingForKey(Request.IsLocal ? "GoogleAnalyticsGA4Developer" : "GoogleAnalyticsGA4Production")');
</script>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" id="metaViewport" />
<meta name="verify-v1" content="7D/8Uvt4SqfWiyxmBjdh6ee4Kmr8ckec9yCd8wGU9n0=" />
<meta name="apple-itunes-app" content="app-id=349983064" />
<title>@(String.IsNullOrEmpty(ViewBag.Title) ? Branding.CurrentBrand.AppName : ViewBag.Title)</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<script src="@VirtualPathUtility.ToAbsolute("~/Public/Scripts/jqueryutil.js")"></script>
<script src='@VirtualPathUtility.ToAbsolute("~/Public/Scripts/jquery.fitvids.js")' type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js" type="text/javascript"></script>

@if (ViewBag.UseCharting)
{
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script src="@VirtualPathUtility.ToAbsolute("~/public/Scripts/gchart.js?v=4")" type="text/javascript"></script>
    <script type="text/javascript">
        google.load('visualization', '1.1', { packages: ['corechart'] });
        var chartsToDraw = [];
        var chartData = [];
        google.setOnLoadCallback(drawCharts);
        function drawCharts() {
            for (var i = 0; i < chartsToDraw.length; i++) {
                var cd = drawGChart(chartsToDraw[i]);
                chartData.push(cd);
            }
        }
    </script>
}

@if (ViewBag.IsIOSOrAndroid)
{
    <meta name="format-detection" content="telephone=no" />
}
<link rel="shortcut icon" href="/favicon.ico?v2" />
<link rel="icon" href="/favicon.ico?v2" />
<link href="@VirtualPathUtility.ToAbsolute("~/images/apple-touch-icon.png")" rel="apple-touch-icon" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" />
<link href="@VirtualPathUtility.ToAbsolute("~/public/CSS/jqueryuimods.css")" type="text/css" rel="stylesheet" />
<link href="@VirtualPathUtility.ToAbsolute(MFBConstants.BaseStylesheet)" rel="stylesheet" type="text/css" />
<link href="@VirtualPathUtility.ToAbsolute("~/public/CSS/mfbheader.css?v=3")" rel="stylesheet" type="text/css" />
<link rel="Stylesheet" type="text/css" href='@ViewBag.NightCSS' />
<link href="@ViewBag.BrandCSS" rel="Stylesheet" type="text/css" />
<link rel="Stylesheet" type="text/css" href='@ViewBag.MobileCSS' />
@{
    if (!String.IsNullOrEmpty(ViewBag.PrintingCSS))
    {
        <link href="@VirtualPathUtility.ToAbsolute(ViewBag.PrintingCSS)" rel="Stylesheet" type="text/css" />
    }
}

