
@{
    Layout = "~/Areas/mvc/Views/Shared/_Layout.cshtml";
}

<img style="max-width: 2cm; max-height: 2cm; vertical-align:top; margin-right: 3em; margin-bottom: 1em" src="@VirtualPathUtility.ToAbsolute("~/images/rb_logo.png")" />
<div style="display:inline-block;">
    <p>@Branding.ReBrand(Resources.LogbookEntry.RosterBusterAuthed)</p>
    <ul class="nextStep">
        <li><a href="@VirtualPathUtility.ToAbsolute("~/Member/Import.aspx")">@Resources.LogbookEntry.RosterBusterImportNow</a></li>
        <li><a href="javascript:showModalById('downloadRB', '@Resources.Preferences.ScheduleServiceRBDownloadPrompt', 350);">@Resources.Preferences.ScheduleServiceRBDownloadPrompt</a></li>
        @using (Html.BeginForm("DeAuth", "rbredirect", FormMethod.Post, new Dictionary<string, object> { { "id", "DeAuth" } }))
        {
            @Html.AntiForgeryToken();
            <li><a href="javascript:document.getElementById('DeAuth').submit()">@Branding.ReBrand(Resources.LogbookEntry.RosterBusterDeAuth)</a></li>
        }
    </ul>
</div>
<div id="downloadRB" style="display:none;">
    <div>@Resources.Preferences.ScheduleServiceRBScanQRCode</div>
    <div style="text-align: center"><img src="@ViewBag.QRCode" style="width: 150px; height: 150px;" /></div>
</div>
