
@{
    Layout = "~/Areas/mvc/Views/Shared/_Layout.cshtml";
}

<div>
    <img style="float:left; max-width: 2cm; max-height: 2cm; margin-right: 3em; margin-bottom: 1em" src="@VirtualPathUtility.ToAbsolute("~/images/rb_logo.png")" /> 
    <p>@Branding.ReBrand(Resources.LogbookEntry.RosterBusterAuthed)</p>
    <ul>
        <li><a href="@VirtualPathUtility.ToAbsolute("~/Member/Import.aspx")">@Resources.LogbookEntry.RosterBusterImportNow</a></li>
        @using (Html.BeginForm("DeAuth", "rbredirect", FormMethod.Post, new Dictionary<string, object> { { "id", "DeAuth" } }))
        {
            @Html.AntiForgeryToken();
            <li><a href="javascript:document.getElementById('DeAuth').submit()">@Branding.ReBrand(Resources.LogbookEntry.RosterBusterDeAuth)</a></li>
        }
    </ul>
</div>
<br />
<br />
<div style="margin-left: auto; margin-right: auto; text-align: center; max-width: 175px;">
    <div>@Resources.Preferences.ScheduleServiceRBDownloadPrompt</div>
    <div><img src="@ViewBag.QRCode" style="width: 150px" /></div>
    <div><a target="_blank" href="ViewBag.RBDownload">@ViewBag.RBDownload</a></div>
</div>
