
@{
    Layout = "~/Areas/mvc/Views/Shared/_Layout.cshtml";
}

<img style="max-width: 2cm; max-height: 2cm; vertical-align:top; margin-right: 3em; margin-bottom: 1em" src="@VirtualPathUtility.ToAbsolute("~/images/rb_logo.png")" />
<div style="display:inline-block;">
    <p>@Branding.ReBrand(Resources.LogbookEntry.RosterBusterNotAuthed)</p>
    <ul class="nextStep">
        <li><a href="@ViewBag.AuthUri" style="vertical-align:middle;">@Branding.ReBrand(Resources.LogbookEntry.RosterBusterAuthorize)</a></li>
        <li><a href="javascript:showModalById('downloadRB', '@Resources.Preferences.ScheduleServiceRBDownloadPrompt', 350);" style="vertical-align:middle;">@Resources.Preferences.ScheduleServiceRBDownloadPrompt</a></li>
    </ul>

    <div class="error">@ViewBag.AuthError</div>
</div>
<div id="downloadRB" style="display:none;">
    <div>@Resources.Preferences.ScheduleServiceRBScanQRCode</div>
    <div style="text-align: center"><img src="@ViewBag.QRCode" style="width: 150px; height: 150px;" /></div>
</div>
