@using System.Globalization
@using MyFlightbook.Image
@{
    MyFlightbook.Profile viewer = ViewBag.viewer;
    IEnumerable<PendingFlight> rgpf = ViewBag.pendingFlights;
    UserAircraft ua = new UserAircraft(viewer.UserName);
    int pageSize = ViewBag.pageSize;
    int offset = ViewBag.offset;
    int curPage = ViewBag.curPage;
    int numPages = ViewBag.numPages;
    string sortField = ViewBag.sortField;
    System.Web.UI.WebControls.SortDirection sortDir = ViewBag.sortDir;
    System.Func<string, string> sortCss = (h) => { return h.CompareCurrentCulture(sortField) == 0 ? (sortDir == System.Web.UI.WebControls.SortDirection.Ascending ? "headerSortAsc" : "headerSortDesc") : string.Empty; };
    HashSet<int> hsPropExclusion = new HashSet<int>()
    {
        (int) CustomPropertyType.KnownProperties.IDPropFlightNumber
    };
    HashSet<int> aircraftWithPopulatedImages = new HashSet<int>();
}
<table class="lbTable" id="tblPending">
    <thead>
        <tr class="gvhDefault" style="vertical-align: bottom">
            <th class="headerBase gvhLeft @sortCss("Date")" onclick="javascript: navigateToPendingPage(@curPage, @pageSize, 'Date');">@Resources.LogbookEntry.FieldFlight</th>
            <th class="headerBase gvhCentered @sortCss("TailNumDisplay")" onclick="javascript: navigateToPendingPage(@curPage, @pageSize, 'TailNumDisplay');">@Resources.LogbookEntry.FieldTail</th>
            <th class="headerBase gvhCentered @sortCss("CatClassDisplay")" onclick="javascript: navigateToPendingPage(@curPage, @pageSize, 'CatClassDisplay');">@Html.Raw(Resources.LogbookEntry.FieldCatClassType)</th>
            <th class="headerBase gvhCentered @sortCss("Approaches")" onclick="javascript: navigateToPendingPage(@curPage, @pageSize, 'Approaches');">@Resources.LogbookEntry.PrintHeaderApproaches</th>
            <th class="headerBase gvhCentered @sortCss("fHoldingProcedures")" onclick="javascript: navigateToPendingPage(@curPage, @pageSize, 'fHoldingProcedures');">@Resources.LogbookEntry.FieldHold</th>
            <th class="headerBase gvhCentered @sortCss("Landings")" onclick="javascript: navigateToPendingPage(@curPage, @pageSize, 'Landings');">@Resources.LogbookEntry.PrintHeaderLandingsShort</th>
            <th class="headerBase gvhCentered @sortCss("CrossCountry")" onclick="javascript: navigateToPendingPage(@curPage, @pageSize, 'CrossCountry');">@Resources.LogbookEntry.FieldXCountry</th>
            <th class="headerBase gvhCentered @sortCss("Nighttime")" onclick="javascript: navigateToPendingPage(@curPage, @pageSize, 'Nighttime');">@Resources.LogbookEntry.FieldNight</th>
            <th class="headerBase gvhCentered @sortCss("SimulatedIFR")" onclick="javascript: navigateToPendingPage(@curPage, @pageSize, 'SimulatedIFR');">@Html.Raw(Resources.LogbookEntry.FieldSimIMC)</th>
            <th class="headerBase gvhCentered @sortCss("IMC")" onclick="javascript: navigateToPendingPage(@curPage, @pageSize, 'IMC');">@Resources.LogbookEntry.FieldIMC</th>
            <th class="headerBase gvhCentered @sortCss("GroundSim")" onclick="javascript: navigateToPendingPage(@curPage, @pageSize, 'GroundSim');">@Html.Raw(Resources.LogbookEntry.FieldGroundSim)</th>
            <th class="headerBase gvhCentered @sortCss("Dual")" onclick="javascript: navigateToPendingPage(@curPage, @pageSize, 'Dual');">@Resources.LogbookEntry.FieldDual</th>
            <th class="headerBase gvhCentered @sortCss("CFI")" onclick="javascript: navigateToPendingPage(@curPage, @pageSize, 'CFI');">@Resources.LogbookEntry.FieldCFI</th>
            <th class="headerBase gvhCentered @sortCss("SIC")" onclick="javascript: navigateToPendingPage(@curPage, @pageSize, 'SIC');">@Resources.LogbookEntry.FieldSIC</th>
            <th class="headerBase gvhCentered @sortCss("PIC")" onclick="javascript: navigateToPendingPage(@curPage, @pageSize, 'PIC');">@Resources.LogbookEntry.FieldPIC</th>
            <th class="headerBase gvhCentered @sortCss("TotalFlightTime")" onclick="javascript: navigateToPendingPage(@curPage, @pageSize, 'TotalFlightTime');">@Resources.LogbookEntry.FieldTotal</th>
            <th class="noprint"></th>
            <th class="noprint"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (PendingFlight pf in rgpf)
        {
            Aircraft ac = pf.AircraftID > 0 ? ua[pf.AircraftID] : null;

            if (ac != null && !aircraftWithPopulatedImages.Contains(ac.AircraftID))
            {
                aircraftWithPopulatedImages.Add(ac.AircraftID);
                ac.PopulateImages();
            }

            <tr class="logbookRow logbookRowEven">
                <td class="gvcLeft">
                    <span class="dn">@pf.Date.YMDString()</span>
                    <div>
                        <span class="largeBold">@pf.Date.ToShortDateString()</span>
                        <span class="largeBold">@pf.CustomProperties.StringValueForProperty(CustomPropertyType.KnownProperties.IDPropFlightNumber)</span>
                        <a class="b" href="@(String.Format(CultureInfo.InvariantCulture, "~/mvc/airport/maproute?Airports={0}", pf.Route).ToAbsolute())" >@pf.Route</a>
                        <div style="clear: left; white-space: pre-line;" dir="auto">@Html.Raw(ApproachDescription.ReplaceApproaches(pf.Comment.Linkify()))</div>
                    </div>
                    <div>
                        @if (viewer.DisplayTimesByDefault)
                        {
                            <div>@LogbookEntryDisplay.FormatEngineTime(pf.EngineStart, pf.EngineEnd, viewer.UsesUTCDateOfFlight, viewer.UsesHHMM)</div>
                            <div>@LogbookEntryDisplay.FormatFlightTime(pf.FlightStart, pf.FlightEnd, viewer.UsesUTCDateOfFlight, viewer.UsesHHMM)</div>
                            <div>@LogbookEntryDisplay.FormatHobbs(pf.HobbsStart, pf.HobbsEnd)</div>
                        }
                    </div>
                    <div>
                        @foreach (string s in CustomFlightProperty.PropDisplayAsList(pf.CustomProperties, viewer.UsesHHMM, true, true, hsPropExclusion))
                        {
                            <div>@Html.Raw(s)</div>
                        }
                    </div>
                    <div class="error">@(pf.ErrorString ?? string.Empty)</div>
                </td>
                <td class="gvcCentered">
                    @if (ac == null)
                    {
                        <span>@pf.TailNumDisplay</span>
                    }
                    else
                    {
                        <a class="popTrigger" href="@AircraftUtility.EditLink(ac.AircraftID)">@ac.DisplayTailnumber</a>
                        <div class="popMenuContent popMenuHidden hintPopup" style="margin-top: -60px; margin-left: 50px">
                            <div class="c">@pf.ModelDisplay</div>
                            @foreach (MFBImageInfo img in ac.AircraftImages)
                            {
                                if (img.ImageType == MFBImageInfoBase.ImageFileType.JPEG)
                                {
                                    <div class="ilItem">
                                        <img src="@img.URLThumbnail" width="@img.WidthThumbnail" height="@img.HeightThumbnail" title="@img.Comment" alt="@img.Comment"
                                             onclick="@String.Format(CultureInfo.InvariantCulture, img.ImageType == MFBImageInfoBase.ImageFileType.PDF || img.ImageType == MFBImageInfoBase.ImageFileType.S3PDF ? "javascript:window.location = '{0}';" : "javascript:viewMFBImg('{0}');", VirtualPathUtility.ToAbsolute(img.URLFullImage))" />
                                        <div>@img.Comment</div>
                                    </div>
                                }
                            }
                        </div>
                    }
                </td>
                <td class="gvcCentered"> @pf.CatClassDisplay</td>
                <td class="gvcCentered">@pf.Approaches.FormatInt()<span class="dn">@pf.Approaches.ToString(CultureInfo.InvariantCulture)</span></td>
                <td class="gvcCentered largeBold">@Html.Raw(pf.fHoldingProcedures.FormatBoolean())</td>
                <td class="gvcCentered">@LogbookEntryDisplay.LandingDisplayForFlight(pf)<span class="dn">@pf.Landings.ToString(CultureInfo.InvariantCulture)</span></td>
                <td class="gvcCentered">@pf.CrossCountry.FormatDecimal(viewer.UsesHHMM)<span class="dn">@pf.CrossCountry.ToString(CultureInfo.InvariantCulture)</span></td>
                <td class="gvcCentered">@pf.Nighttime.FormatDecimal(viewer.UsesHHMM)<span class="dn">@pf.Nighttime.ToString(CultureInfo.InvariantCulture)</span></td>
                <td class="gvcCentered">@pf.SimulatedIFR.FormatDecimal(viewer.UsesHHMM)<span class="dn">@pf.SimulatedIFR.ToString(CultureInfo.InvariantCulture)</span></td>
                <td class="gvcCentered">@pf.IMC.FormatDecimal(viewer.UsesHHMM)<span class="dn">@pf.IMC.ToString(CultureInfo.InvariantCulture)</span></td>
                <td class="gvcCentered">@pf.GroundSim.FormatDecimal(viewer.UsesHHMM)<span class="dn">@pf.GroundSim.ToString(CultureInfo.InvariantCulture)</span></td>
                <td class="gvcCentered">@pf.Dual.FormatDecimal(viewer.UsesHHMM)<span class="dn">@pf.Dual.ToString(CultureInfo.InvariantCulture)</span></td>
                <td class="gvcCentered">@pf.CFI.FormatDecimal(viewer.UsesHHMM)<span class="dn">@pf.CFI.ToString(CultureInfo.InvariantCulture)</span></td>
                <td class="gvcCentered">@pf.SIC.FormatDecimal(viewer.UsesHHMM)<span class="dn">@pf.SIC.ToString(CultureInfo.InvariantCulture)</span></td>
                <td class="gvcCentered">@pf.PIC.FormatDecimal(viewer.UsesHHMM)<span class="dn">@pf.PIC.ToString(CultureInfo.InvariantCulture)</span></td>
                <td class="gvcCentered">@pf.TotalFlightTime.FormatDecimal(viewer.UsesHHMM)<span class="dn">@pf.TotalFlightTime.ToString(CultureInfo.InvariantCulture)</span></td>
                <td class="noprint"></td>
                <td class="noprint">
                    <div class="ctxtMenuIcon popTrigger"></div>
                    <div class="popMenuContent popMenuHidden" style="margin-top: -10px; margin-left: -90px">
                        <div class="flightContextMenu">
                            <div><a href="@Url.Action("Pending", "FlightEdit", new { id = pf.PendingID })"><img src="@("~/images/pencilsm.png".ToAbsolute())" />@Resources.LogbookEntry.PublicFlightEditThisFlight</a></div>
                            <div><a href="#" onclick="javascript: commitPendingFlight('@pf.PendingID'); return false;"><img src="@("~/images/add.png".ToAbsolute())" />@Resources.LogbookEntry.EditFlightAddFlight</a></div>
                            <div><a href="#" onclick="javascript: deletePendingFlight('@pf.PendingID'); return false;"><img src="@("~/images/x.gif".ToAbsolute())" style="padding-right: 10px;" alt="@Resources.LogbookEntry.LogbookDeleteTooltip" title="@Resources.LogbookEntry.LogbookDeleteTooltip" />@Resources.LogbookEntry.LogbookDeleteTooltip</a></div>
                            <div><a href="@Url.Action("Pending", "FlightEdit", new { id = pf.PendingID, clone = 1 })"><img src="@("~/images/copyflight.png".ToAbsolute())" alt="@Resources.LogbookEntry.RepeatFlight" />@Resources.LogbookEntry.RepeatFlight</a></div>
                            <div><a href="@Url.Action("Pending", "FlightEdit", new { id = pf.PendingID, clone = 1, reverse = 1 })"><img src="@("~/images/copyflightreverse.png".ToAbsolute())" alt="@Resources.LogbookEntry.RepeatReverseFlight" />@Resources.LogbookEntry.RepeatReverseFlight</a></div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (numPages > 1)
{
    <div class="lbTable noprint" style="padding: 5px; width: 100%; text-align: center;">
        @if (curPage > 0)
        {
            <a href="#" onclick="javascript: navigateToPendingPage(0, @pageSize); return false;">&lt;&lt;</a>
            <a href="#" onclick="javascript: navigateToPendingPage(@(curPage - 1), @pageSize); return false;">&lt;</a>
        }
        @String.Format(CultureInfo.CurrentCulture, Resources.LocalizedText.PrintedFooterPageCountWithTotals, curPage + 1, numPages )
        @if (curPage < numPages - 1)
        {
            <a href="#" onclick="javascript: navigateToPendingPage(@(curPage + 1), @pageSize); return false;">&gt;</a>
            <a href="#" onclick="javascript: navigateToPendingPage(@(numPages - 1), @pageSize); return false;">&gt;&gt;</a>
        }
    </div>
}