@using System.Globalization
@{
    ViewBag.defaultTab = tabID.tabLogbook;
    ViewBag.Title = Resources.LogbookEntry.ReviewPendingFlightsHeader;
    Layout = "~/Areas/mvc/Views/Shared/_Layout.cshtml";
    MyFlightbook.Profile viewer = ViewBag.viewer;
    IEnumerable<PendingFlight> rgpf = ViewBag.pendingFlights;
    LogbookEntry pfSelected = ViewBag.pendingFlight;
    int pageSize = ViewBag.pageSize;
}
<script type="text/javascript" src="@("~/Public/Scripts/flightedit.js?v=4".ToAbsolute())"></script>
<script type="text/javascript">

</script>
@if (pfSelected != null)
{
    Html.RenderAction("FlightEditor", "FlightEdit", new { targetUser = User.Identity.Name, le = pfSelected, onCancel = ViewBag.onCancel, onSave = ViewBag.onSave, nextFlightHref = ViewBag.nextFlightHref, prevFlightHref = ViewBag.prevFlightHref });
}
else
{
    <p>@Resources.LogbookEntry.ReviewPendingFlightsPrompt</p>
    using (Html.BeginForm("", "FlightEdit", FormMethod.Post, new { id = "frmActPending", name = "frmActPending" }))
    {
        <input type="hidden" name="pfID" id="hdnPendingID" value="" />
        @Html.AntiForgeryToken()
    }
    if (!rgpf.Any())
    {
        <ul><li>@Resources.LogbookEntry.ReviewPendingFlightsNoFlights</li></ul>
    }
    else
    {
<script type="text/javascript">
        $(() => { navigateToPendingPage(0, @pageSize, "Date"); });
</script>
        <input type="hidden" id="hdnLastPendingSortDir" value="Ascending" />
        <input type="hidden" id="hdnPendingSortField" value="Date" />
        <p>
            @(rgpf.Count() == 1 ? Resources.LogbookEntry.NumberOfFlightsOne : String.Format(CultureInfo.CurrentCulture, Resources.LogbookEntry.NumberOfFlights, rgpf.Count())) <img src="@("~/images/progress.gif".ToAbsolute())" style="display:none; height: 12pt; width: 12pt;" id="prgPendingPager" />
        </p>
        <div id="divPendingTable"></div>
        <p><a href="#" onclick="javascript: return deleteAllPendingFlights();">@Resources.LogbookEntry.ReviewPendingFlightsDelete</a></p>
    }
}