@using System.Globalization
@{
    ViewBag.defaultTab = tabID.tabLogbook;
    ViewBag.Title = Resources.LogbookEntry.ReviewPendingFlightsHeader;
    Layout = "~/Areas/mvc/Views/Shared/_Layout.cshtml";
    MyFlightbook.Profile viewer = ViewBag.viewer;
    IEnumerable<PendingFlight> rgpf = ViewBag.pendingFlights;
    LogbookEntry pfSelected = ViewBag.pendingFlight;
    int pageSize = ViewBag.pageSize;
}
<script type="text/javascript" src="@("~/Public/Scripts/flightedit.js?v=1".ToAbsolute())"></script>
<script type="text/javascript">
    function deletePendingFlight(pfID) {
        $("#hdnPendingID").val(pfID);
        var f = $("#frmActPending").serialize();
        $.ajax({
            url: "@Url.Action("DeletePendingFlight", "FlightEdit")",
            type: "POST", data: f, dataType: "text", contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            error: function (xhr, status, error) { window.alert(xhr.responseText); },
            complete: function () { },
            success: function () {
                window.location = '@Request.Url.AbsoluteUri';
            }
        });
        return false;
    }

    function deleteAllPendingFlights() {
        $("#hdnPendingID").val('');
        var f = $("#frmActPending").serialize();
        $.ajax({
            url: "@Url.Action("DeleteAllPendingFlights", "FlightEdit")",
            type: "POST", data: f, dataType: "text", contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            error: function (xhr, status, error) { window.alert(xhr.responseText); },
            complete: function () { },
            success: function () {
                window.location = '@Request.Url.AbsoluteUri';
            }
        });
        return false;
    }

    function cancelEdit() {
        window.location = '@("~/mvc/FlightEdit/Pending".ToAbsolute())';
        return false;
    }

    function flightSaved() {
        window.location = '@("~/mvc/FlightEdit/Pending".ToAbsolute())';
        return false;
    }

    function navigateToPage(page, pageSize, sortField) {
        var params = new Object();
        params.offset = page * pageSize;
        params.pageSize = pageSize;

        var hdnsortField = $("#hdnSortField");
        var hdnsortdir = $("#hdnLastSortDir");
        hdnsortdir.val(sortField == hdnsortField.val() && hdnsortdir.val() == "Descending" ? "Ascending" : "Descending");
        hdnsortField.val(sortField);
        params.sortField = hdnsortField.val();
        params.sortDirection = hdnsortdir.val();
            
        $("#prgPager").show();
        $.ajax({
            url: "@Url.Action("PendingFlightsInRange", "FlightEdit")",
            type: "POST", data: JSON.stringify(params), dataType: "html", contentType: "application/json",
            error: function (xhr, status, error) { window.alert(xhr.responseText); },
            complete: function () { $("#prgPager").hide(); },
            success: function (r) {
                $("#divPendingTable").html(r);
            }
        });
    }

    @if (rgpf.Any())
    {
    @:$(() => { navigateToPage(0, @pageSize, "Date"); });
    }
</script>
@if (pfSelected != null)
{
    Html.RenderAction("FlightEditor", "FlightEdit", new { targetUser = User.Identity.Name, le = pfSelected, onCancel = ViewBag.onCancel, onSave = ViewBag.onSave, nextFlightHref = ViewBag.nextFlightHref, prevFlightHref = ViewBag.prevFlightHref });
}
else
{
    <p>@Resources.LogbookEntry.ReviewPendingFlightsPrompt</p>
    using (Html.BeginForm("", "FlightEdit", FormMethod.Post, new { id = "frmActPending", name = "frmActPending" }))
    {
        <input type="hidden" name="pfID" id="hdnPendingID" value="" />
        @Html.AntiForgeryToken()
    }
    if (!rgpf.Any())
    {
        <ul><li>@Resources.LogbookEntry.ReviewPendingFlightsNoFlights</li></ul>
    }
    else
    {
        <input type="hidden" id="hdnLastSortDir" value="Ascending" />
        <input type="hidden" id="hdnSortField" value="Date" />
        <p>
            @(rgpf.Count() == 1 ? Resources.LogbookEntry.NumberOfFlightsOne : String.Format(CultureInfo.CurrentCulture, Resources.LogbookEntry.NumberOfFlights, rgpf.Count())) <img src="@("~/images/progress.gif".ToAbsolute())" style="display:none; height: 12pt; width: 12pt;" id="prgPager" />
        </p>
        <div id="divPendingTable"></div>
        <p><a href="" style="cursor:pointer" onclick="javascript: deleteAllPendingFlights();">@Resources.LogbookEntry.ReviewPendingFlightsDelete</a></p>
    }
}