
@{
    ViewBag.Title = "User Management";
    ViewBag.defaultTab = tabID.tabAdmin;
    Layout = "~/Areas/mvc/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="@VirtualPathUtility.ToAbsolute(MyFlightbook.Web.Ajax.AdminWebServices.AjaxScriptLink)"></script>
<h2>User Management</h2>

<script type="text/javascript">
    function findUsers(szSearch) {
        $("#userTableResult").html("<img src='@VirtualPathUtility.ToAbsolute("~/images/ajax-loader.gif")' />");
        var params = new Object();
        params.szSearch = szSearch;
        var d = JSON.stringify(params);
        $.ajax(
            {
                url: '@Url.Action("findUsers", "adminUser")',
                type: "POST", data: d, dataType: "html", contentType: "application/json",
                error: function (xhr, status, error) {
                    $("#userTableResult").html("");
                    window.alert(xhr.responseJSON.Message);
                },
                complete: function (response) { },
                success: function (response) {
                    $("#userTableResult").html(response);
                }
            });
        return false;
    }

    $(function () {
        $('#txtFindUsers').keydown(function (e) {
            if (e.keyCode == 13) {
                $("#btnFindUsers").focus().click();
                return false;
            }
        });
    });

    $(function () {
        var params = new Object();
        var d = JSON.stringify(params);
        $.ajax(
            {
                url: '@Url.Action("lockedUsers", "adminUser")',
                type: "POST", data: d, dataType: "html", contentType: "application/json",
                error: function (xhr, status, error) {
                    window.alert(xhr.responseJSON.Message);
                },
                complete: function (response) { },
                success: function (response) {
                    $("#lockedUserContainer").html(response);
                }
            });
        $.ajax(
            {
                url: '@Url.Action("dupeUsers", "adminUser")',
                type: "POST", data: d, dataType: "html", contentType: "application/json",
                error: function (xhr, status, error) {
                    window.alert(xhr.responseJSON.Message);
                },
                complete: function (response) { },
                success: function (response) {
                    $("#dupeUserContainer").html(response);
                }
            });
    });

    function impersonate(szUser) {
        $('#txtUserToImpersonate')[0].value = szUser;
        $('#btnImpersonate').click();
    }

    function showSendMessage(szPKID, szFullName) {
        $('#hdnRecipient')[0].value = szPKID;
        $('#lblRecipient')[0].innerText = szFullName;
        $("#sendMessageDiv").dialog({ autoOpen: true, closeOnEscape: true, width: 400, modal: true, title: 'Send Message' });
        return false;
    }

    function sendMessage() {
        var params = new Object();
        params.szPKID = $('#hdnRecipient')[0].value;
        params.szSubject = $('#txtSubject')[0].value;
        params.szBody = $('#txtBody')[0].value;
        var d = JSON.stringify(params);
        $.ajax(
            {
                url: '/logbook/Admin/AdminService.asmx/SendUserMessage',
                type: "POST", data: d, dataType: "html", contentType: "application/json",
                error: function (xhr, status, error) {
                    $("#userTableResult").html("");
                    window.alert(xhr.responseJSON.Message);
                },
                complete: function (response) { },
                success: function (response) {
                    $('#sendMessageDiv').dialog('close');
                }
            });
        return false;
    }
</script>


<div>
    Find User: <input type="text" placeholder="(name, email, or username)" id="txtFindUsers" style="width: 250px" />
    <input type="button" id="btnFindUsers" value="Find" onclick="javascript:findUsers(document.getElementById('txtFindUsers').value);" />

    @using (Html.BeginForm("Impersonate", "AdminUser", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        <input type="text" style="display:none;" id="txtUserToImpersonate" name="szUserPKID" />
        <input type="submit" style="display:none;" id="btnImpersonate" />
    }
</div>
<div id="userTableResult">

</div>
<br /><br />
<h3>Duplicate Users:</h3>
<div id="dupeUserContainer"><img style="max-height: 16px; max-width: 16px;" src="@VirtualPathUtility.ToAbsolute("~/images/progress.gif")" />Checking for duplicate users...</div>
<h3>Locked Users:</h3>
<div id="lockedUserContainer"><img style="max-height: 16px; max-width: 16px;"  src="@VirtualPathUtility.ToAbsolute("~/images/progress.gif")" />Checking for locked users...</div>

<div id="sendMessageDiv" style="display:none;">
    <input type="hidden" id="hdnRecipient" name="szPKID" />
    <table>
        <tr>
            <td>To:</td>
            <td><span id="lblRecipient" /><</td>
        </tr>
        <tr>
            <td>Subject:</td>
            <td><input type="text" id="txtSubject" name="szSubject" /></td>
        </tr>
    </table>
    <div><textarea rows="5" id="txtBody" name="szBody" style="min-width: 300px"></textarea></div>
    <div><input type="button" id="btnCancelSend" onclick="$('#sendMessageDiv').dialog('close');" value="Cancel" /> <input type="button" Value="Send" onclick="javascript: sendMessage();" /></div>
</div>




