
@{
    ViewBag.Title = "User Management";
    ViewBag.defaultTab = tabID.tabAdmin;
    Layout = "~/Areas/mvc/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="@VirtualPathUtility.ToAbsolute(MyFlightbook.Web.Ajax.AdminWebServices.AjaxScriptLink)"></script>
<h2>User Management</h2>

<script type="text/javascript">
    function findUsers(szSearch) {
        $("#prgFindUser").toggle();
        var params = new Object();
        params.szSearch = szSearch;
        var d = JSON.stringify(params);
        $.ajax(
            {
                url: '@Url.Action("findUsers", "adminUser")',
                type: "POST", data: d, dataType: "html", contentType: "application/json",
                error: function (xhr, status, error) {
                    $("#userTableResult").html("");
                    window.alert(xhr.responseJSON.Message);
                },
                complete: function (response) { $("#prgFindUser").toggle(); },
                success: function (response) { $("#userTableResult").html(response); }
            });
        return false;
    }

    $(function () {
        $('#txtFindUsers').keydown(function (e) {
            if (e.keyCode == 13) {
                $("#btnFindUsers").focus().click();
                return false;
            }
        });
    });

    function impersonate(szUser) {
        $('#txtUserToImpersonate')[0].value = szUser;
        $('#btnImpersonate').click();
    }

    function showSendMessage(szPKID, szFullName) {
        $('#hdnRecipient')[0].value = szPKID;
        $('#lblRecipient')[0].innerText = szFullName;
        $("#sendMessageDiv").dialog({ autoOpen: true, closeOnEscape: true, width: 400, modal: true, title: 'Send Message' });
        return false;
    }

    function sendMessage() {
        var params = new Object();
        params.szPKID = $('#hdnRecipient')[0].value;
        params.szSubject = $('#txtSubject')[0].value;
        params.szBody = $('#txtBody')[0].value;
        var d = JSON.stringify(params);
        $.ajax(
            {
                url: '/logbook/Admin/AdminService.asmx/SendUserMessage',
                type: "POST", data: d, dataType: "html", contentType: "application/json",
                error: function (xhr, status, error) {
                    $("#userTableResult").html("");
                    window.alert(xhr.responseJSON.Message);
                },
                complete: function (response) { },
                success: function (response) {
                    $('#sendMessageDiv').dialog('close');
                }
            });
        return false;
    }
</script>


<div>
    Find User: <input type="text" placeholder="(name, email, or username)" id="txtFindUsers" style="width: 250px" />
    <input type="button" id="btnFindUsers" value="Find" onclick="javascript:findUsers(document.getElementById('txtFindUsers').value);" />
    <img src='@("~/images/progress.gif".ToAbsolute())' style="max-width: 16px; max-height: 16px; vertical-align: middle; display: none;" id="prgFindUser" />

    @using (Html.BeginForm("Impersonate", "AdminUser", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        <input type="text" style="display:none;" id="txtUserToImpersonate" name="szUserPKID" />
        <input type="submit" style="display:none;" id="btnImpersonate" />
    }
</div>
<div id="userTableResult">

</div>
<br />
<br />
<h3>Duplicate Users:</h3>
<div id="dupeUserContainer">
    @if (ViewBag.DupeUsers.Count != 0)
    {
        <ul>
            @foreach (string szUser in ViewBag.DupeUsers)
            {
                <li>@szUser</li>
            }
        </ul>
    }
    else
    {
        <div>(No duplicates found)</div>
    }
</div>
<h3>Locked Users:</h3>
<div id="lockedUserContainer">
    @if (ViewBag.LockedUsers.Count != 0)
    {
        <table class="stickyHeaderTable">
            <thead>
                <tr>
                    <th class="gvhDefault"></th>
                    <th class="gvhDefault">Username</th>
                    <th class="gvhDefault">Email</th>
                    <th class="gvhDefault">Last Locked Out</th>
                    <th class="gvhDefault"># Failed PW</th>
                    <th class="gvhDefault">Failed PW Window Start</th>
                    <th class="gvhDefault"># Failed Q/A</th>
                    <th class="gvhDefault">Failed QA Window Start</th>
                </tr>
            </thead>
            @foreach (ProfileAdmin pf in ViewBag.LockedUsers)
            {
                <tr>
                    <td><input type="button" onclick="javascript: unlockUser(this, '@pf.UserName'); return false;" value="Unlock" /></td>
                    <td>@pf.UserName</td>
                    <td>@pf.Email</td>
                    <td>@pf.LastLockedDate.FormatDateZulu()</td>
                    <td>@pf.FailedPasswordAttemptCount.ToString(System.Globalization.CultureInfo.CurrentCulture)</td>
                    <td>@pf.FailedPasswordAttemptWindow.FormatDateZulu()</td>
                    <td>@pf.FailedQAAttemptCount.ToString(System.Globalization.CultureInfo.CurrentCulture)</td>
                    <td>@pf.FailedQAAttemptWindow.FormatDateZulu()</td>
                </tr>
            }
        </table>
    }
    else
    {
        <div>(No locked users)</div>
    }
</div>

<div id="sendMessageDiv" style="display:none;">
    <input type="hidden" id="hdnRecipient" name="szPKID" />
    <table>
        <tr>
            <td>To:</td>
            <td><span id="lblRecipient" /><</td>
        </tr>
        <tr>
            <td>Subject:</td>
            <td><input type="text" id="txtSubject" name="szSubject" /></td>
        </tr>
    </table>
    <div><textarea rows="5" id="txtBody" name="szBody" style="min-width: 300px"></textarea></div>
    <div><input type="button" id="btnCancelSend" onclick="$('#sendMessageDiv').dialog('close');" value="Cancel" /> <input type="button" Value="Send" onclick="javascript: sendMessage();" /></div>
</div>

@if (ProfileRoles.CanDoAllAdmin(MyFlightbook.Profile.GetUser(User.Identity.Name).Role))
{
    List<Profile> lstAdmins = new List<Profile>(ViewBag.adminUsers);
    lstAdmins.Sort((p1, p2) => { return p1.Role == p2.Role ? p1.UserName.CompareCurrentCultureIgnoreCase(p2.UserName) : p1.Role.CompareTo(p2.Role); });
    lstAdmins.Add(new Profile());
    int iAdmin = 0;
    <script type="text/javascript">
        $(() => {
            $("#tblAdmins").find("input[type='radio']").on("click", function (e) { setRoleForUserRow(e.target); });
        });

        function setRoleForUserRow(sender) {
            var row = $(sender).closest("tr");
            var params = new Object();
            params.szRole = row.find("input[type='radio']:checked").val();
            params.szTargetUser = row.find("input[name='adminName']").val();
            params.szPass = $("#txtSiteAdminPass").val();
            var d = JSON.stringify(params);
            $.ajax(
                {
                    url: '@Url.Action("SetRoleForUser", "adminUser")',
                    type: "POST", data: d, dataType: "html", contentType: "application/json",
                    error: function (xhr, status, error) { window.alert(xhr.responseText); },
                    success: function (response) { location.reload(); }
                });
            return false;
        }
    </script>

    <h3>Admins on the site @{ Html.RenderAction("RenderExpandoImg", "MFBTemplate", new { fExpanded = false, targetID = "divAdmins" }); }</h3>
    <div id="divAdmins" style="display: none;">
        <p>To make any change, you MUST include your password for security: <input type="password" id="txtSiteAdminPass" /></p>
        <table id="tblAdmins" class="stickyHeaderTable">
            <thead>
                <tr>
                    <th class="gvhDefault">User</th>
                    <th class="gvhDefault" colspan="6">Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Profile pfAdmin in lstAdmins)
                {
                    string rbName = $"{iAdmin++}rbAdminRole";
                    bool fisSelf = pfAdmin.UserName.CompareCurrentCultureIgnoreCase(User.Identity.Name) == 0;
                    string isSelf = fisSelf ? "disabled" : string.Empty;
                    <tr>
                        <td>
                            @if (String.IsNullOrEmpty(pfAdmin.UserName))
                            {
                                <input name="adminName" type="text" placeholder="(New Username)" data-1p-ignore />
                            }
                            else
                            {
                                <input type="hidden" name="adminName" value="@pfAdmin.UserName" />
                                <div style="@(fisSelf ? "font-weight: bold;" : string.Empty)">@pfAdmin.UserName (@pfAdmin.UserFullName)</div>
                            }
                        </td>
                        <td><label><input type="radio" @isSelf value="@ProfileRoles.UserRoles.None" name="@rbName" @((pfAdmin.Role == ProfileRoles.UserRoles.None).ToChecked()) />None</label></td>
                        <td><label><input type="radio" @isSelf value="@ProfileRoles.UserRoles.Support" name="@rbName" @((pfAdmin.Role == ProfileRoles.UserRoles.Support).ToChecked()) />Support Users</label></td>
                        <td><label><input type="radio" @isSelf value="@ProfileRoles.UserRoles.DataManager" name="@rbName" @((pfAdmin.Role == ProfileRoles.UserRoles.DataManager).ToChecked()) />Manage Data</label></td>
                        <td><label><input type="radio" @isSelf value="@ProfileRoles.UserRoles.Reporter" name="@rbName" @((pfAdmin.Role == ProfileRoles.UserRoles.Reporter).ToChecked()) />View Reports</label></td>
                        <td><label><input type="radio" @isSelf value="@ProfileRoles.UserRoles.Accountant" name="@rbName" @((pfAdmin.Role == ProfileRoles.UserRoles.Accountant).ToChecked()) />Manage Money</label></td>
                        <td><label><input type="radio" @isSelf value="@ProfileRoles.UserRoles.SiteAdmin" name="@rbName" @((pfAdmin.Role == ProfileRoles.UserRoles.SiteAdmin).ToChecked()) />Site Admin</label></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


