@using System.Globalization
@using MyFlightbook.Image
@{
    IEnumerable<LogbookEntry> flights = ViewBag.flights;
}
@foreach (LogbookEntry led in flights)
{
    ImageList ilAC = new ImageList(MFBImageInfoBase.ImageClass.Aircraft, led.AircraftID.ToString(CultureInfo.InvariantCulture));
    ImageList ilFlight = new ImageList(MFBImageInfoBase.ImageClass.Flight, led.FlightID.ToString(CultureInfo.InvariantCulture));
    ilAC.Refresh();
    ilFlight.Refresh();
    <tr style="vertical-align:top">
        <td colspan="2">
            <span style="font-weight: bold;">@led.Date.ToShortDateString() @led.TailNumDisplay</span>
            <span>@((led.TotalFlightTime > 0) ? String.Format(CultureInfo.CurrentCulture, Resources.LogbookEntry.PublicFlightDuration, led.TotalFlightTime) : string.Empty)</span>
            <a href="@String.Format(CultureInfo.InvariantCulture, "~/mvc/pub/ViewFlight/{0}", led.FlightID).ToAbsolute()">@led.Route</a>
            <span style="white-space: pre-line">@led.Comment</span>
        </td>
    </tr>
    <tr style="vertical-align:top">
        <td>
            <div class="ilItem">
                @{ Html.RenderAction("HoverImageList", "Image", new { rgmfbii = ilAC.ImageArray }); }
            </div>
            <div style="text-align:center">
                @led.ModelDisplay @led.CatClassDisplay
            </div>
        </td>
        <td>
            @{ Html.RenderAction("ImageListDisplay", "Image", new { il = ilFlight }); }
        </td>
    </tr>
}