@using System.Globalization
@using MyFlightbook.Currency
@{
    bool fGrouped = ViewBag.grouped;
    bool fLinked = ViewBag.linkItems;
    bool fUseHHMM = ViewBag.fUseHHMM;
    IEnumerable<TotalsItem> rgti = ViewBag.rgti;
    IEnumerable<TotalsItemCollection> rgtic = fGrouped ? TotalsItemCollection.AsGroups(rgti) : new TotalsItemCollection[] { new TotalsItemCollection(TotalsGroup.None) { Items = rgti } };
}
@if (!rgti.Any())
{
    <p>@Resources.Totals.NoTotals</p>
}
else
{
    foreach (TotalsItemCollection tic in rgtic)
    {
        if (fGrouped)
        {
            <div class="header">@tic.GroupName</div>
        }
        foreach (TotalsItem ti in tic.Items)
        {
            <div class="totalsBox @(fGrouped ? "dib" : string.Empty)">
                <div class="totalsValue">@ti.ValueString(fUseHHMM)</div>
                <div class="totalsLabel">
                    @if (fLinked && ti.Query != null)
                    {
                        <div><a href="@String.Format(CultureInfo.InvariantCulture, "https://{0}{1}?fq={2}", Branding.CurrentBrand.HostName, "~/mvc/flights".ToAbsolute(), ti.JSONSerializedQuery.ToSafeParameter())" target="_blank">@ti.Description</a></div>
                    }
                    else
                    {
                        <div>@ti.Description</div>
                    }
                </div>
                @if (!String.IsNullOrEmpty(ti.SubDescription))
                {
                    <div class="fineprint">@ti.SubDescription</div>
                }
            </div>
        }
    }
}
