@using System.Globalization
@{
    Profile m_pf = MyFlightbook.Profile.GetUser(User.Identity.Name);
}
<script type="text/javascript" src="@("~/Public/Scripts/jquery.passwordRequirements.min.js".ToAbsolute())"></script>
<script type="text/javascript">
    $(() => {
        defaultButtonForDiv('acctEditPass', 'btnUpdatePass');
        $(".pr-password").passwordRequirements({
            style: "@((bool) (Session[MFBConstants.keyIsNightSession] ?? false) ? "dark" : "light")",
            infoMessage: "@Resources.Profile.PasswordQualityHint"
        });

        validateForm($("#frmUpdatePass"),
            {
                accountCurPass: { required: true },
                accountNewPass: {
                    required: true,
                    minlength: 8,
                    maxlength: 48
                },
                accountNewPass2: {
                    equalTo: "#txtNewPass"
                }
            }, {
                accountCurPass: { required: "@Resources.Preferences.errAccountPasswordNeedPrevious" },
                accountNewPass: {
                    required: "@Resources.Preferences.errAccountPasswordNewMissing",
                    minlength: "@Resources.Profile.errBadPasswordLength",
                    maxlength: "@Resources.Profile.errBadPasswordLength"
                }
            });
    });
</script>
<div>
    <div id="acctStaticPass">
        <ul>
            <li>@String.Format(CultureInfo.CurrentCulture, Resources.LocalizedText.MemberLastLogon, m_pf.LastLogon)</li>
            @if (m_pf.LastActivity.Date.CompareTo(m_pf.LastLogon.Date) != 0)
            {
            <li>@String.Format(CultureInfo.CurrentCulture, Resources.LocalizedText.MemberLastActivity, m_pf.LastActivity)</li>
            }
            <li>@(m_pf.LastPasswordChange.CompareTo(m_pf.CreationDate) == 0 ? Resources.LocalizedText.MemberOriginalPassword : String.Format(CultureInfo.CurrentCulture, Resources.LocalizedText.MemberLastPassword, m_pf.LastPasswordChange))</li>
        </ul>
        <div><button type="button" onclick="javascript: $('#acctStaticPass').hide(); $('#acctEditPass').show(); return false;">@Resources.Profile.ChangePassword</button></div>
    </div>
    <div id="acctEditPass" style="display: none;">
        @using (Html.BeginForm("", "Prefs", FormMethod.Post, new { id = "frmUpdatePass", name = "frmUpdatePass" }))
        {
            @Html.AntiForgeryToken()
            <h3>@Resources.Preferences.AccountPasswordCurrent</h3>
            <div><input type="password" name="accountCurPass" required /></div>
            <h3>@Resources.Preferences.AccountPasswordNew</h3>
            <div><input type="password" name="accountNewPass" required id="txtNewPass" class="pr-password" maxlength="48" /></div>
            <h3>@Resources.Preferences.AccountPasswordConfirmNew</h3>
            <div><input type="password" name="accountNewPass2" required id="txtNewPass2" maxlength="48" /></div>
            <h3><button id="btnUpdatePass" type="button" onclick="javascript: acctEditor.updatePass($('#frmUpdatePass'), $('#accountUpdatePassResult'));">@Resources.Preferences.AccountPasswordChange</button></h3>
            <div id="accountUpdatePassResult"></div>
        }
    </div>
</div>

