@using MyFlightbook.Currency
@using System.Globalization
@{
    int idAircraft = ViewBag.aircraftID ?? Aircraft.idAircraftUnknown;
    IEnumerable<DeadlineCurrency> rgdc = DeadlineCurrency.DeadlinesForUser(User.Identity.Name, idAircraft, true);
}
<div>
    @if (rgdc.Any())
    {
        <table cellpadding="3">
            @foreach (DeadlineCurrency dc in rgdc)
            {
                <tr>
                    <td style="vertical-align:top;"><img src="@("~/images/x.gif".ToAbsolute())" alt="@Resources.Currency.CustomCurrencyDeleteTooltip" 
                            onclick="javascript: dlEditor.deleteDeadline($(this).closest('tr'), @dc.ID);" title="@Resources.Currency.CustomCurrencyDeleteTooltip" /></td>
                    <td>
                        <div><span style="font-weight: bold">@dc.DisplayName</span> @dc.ExpirationDisplay</div>
                        <div class="fineprint staticDeadlineView">@dc.RegenDescription</div>
                        <div style="display: none;" class="editDeadlineView">
                            @using (Html.BeginForm(string.Empty, "Pref", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="idDeadline" value="@dc.ID" />
                                <input type="hidden" name="idAircraft" value="@dc.AircraftID" />
                                <span>@dc.RegenPrompt</span>
                                if (dc.UsesHours)
                                {
                                    <input type="number" step="0.1" name="deadlineNewHours" style="width: 7em;" required min="1" value="@dc.AircraftHours" />
                                }
                                else
                                {
                                    Html.RenderAction("RenderDateField", "MFBTemplate", new { name = "deadlineNewDate", id = String.Format(CultureInfo.InvariantCulture, "dtDeadlineNewDate{0}", dc.ID), value = dc.Expiration.LaterDate(DateTime.Now) });
                                }
                            }
                        </div>
                    </td>
                    <td style="vertical-align:top;" class="staticDeadlineView"><img src="@("~/images/pencilsm.png".ToAbsolute())" onclick="javascript: dlEditor.setEditMode($(this).closest('tr'), true);" alt="@Resources.Preferences.PrefUpdateDeadline" title="@Resources.Preferences.PrefUpdateDeadline" /></td>
                    <td style="display: none;" class="editDeadlineView">
                        <a href="#" onclick="javascript: dlEditor.updateDeadline($(this).closest('tr'), @dc.ID); return false;">@Resources.LocalizedText.genericUpdate</a>
                        <a href="#" onclick="javascript: dlEditor.setEditMode($(this).closest('tr'), false); return false;">@Resources.LocalizedText.Cancel</a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <ul><li><span style="font-style:italic">@Resources.Currency.deadlinesNoDeadlinesDefined</span></li></ul>
    }
</div>
<div>
    <a href="#" onclick="javascript: dlEditor.editDeadline(this, -1, @idAircraft); return false;" style="display: flex; align-items: center;">
        <img src="@VirtualPathUtility.ToAbsolute("~/images/add.png")" alt="@Resources.Preferences.PrefAddDeadline" />&nbsp;&nbsp;@Resources.Preferences.PrefAddDeadline
    </a>
</div>