<script type="text/javascript">
    var dlEditor = new prefsDeadlineEditor("@("~/mvc/Prefs/".ToAbsolute())", {
        fShared: @Json.Encode(ViewBag.fShared ?? false),
        deleteConfirmation: "@Resources.Currency.deadlineDeleteConfirmation",
        onCancel: function () {
            cancelEditDeadline();
        },
        onCommit: function () {
            cancelEditDeadline();
            dlEditor.getDeadlineList($("#divListDeadlines"), @(ViewBag.aircraftID ?? Aircraft.idAircraftUnknown));
            @if (!String.IsNullOrEmpty(ViewBag.postEdit))
            {
                @(ViewBag.postEdit)@:();
            }
        },
        onEdit: function (r) {
            $("#divListDeadlines").hide();
            $("#divEditDeadline").show();
            $("#divEditDeadline").html(r);
            @if (!String.IsNullOrEmpty(ViewBag.postEdit))
            {
                @(ViewBag.postEdit)@:();
            }
        },
        errorID: "lblDeadlineErr"
    });

    function cancelEditDeadline() {
        $("#divListDeadlines").show();
        $("#divEditDeadline").hide();
        $("#divEditDeadline").html("");
        $("#lblDeadlineErr").text("");
    }

</script>
<div id="divListDeadlines">
    @{ Html.RenderPartial("_prefDeadlineList"); }
</div>
<div id="divEditDeadline"></div>
<div class="error" id="lblDeadlineErr"></div>
