@using System.Globalization
@using MyFlightbook.CloudStorage
@{
    MyFlightbook.Profile m_pf = ViewBag.pf;
    List<StorageID> lstCloud = new List<StorageID>(m_pf.AvailableCloudProviders);
}
<div class="prefSectionRow">
    <p>@Branding.ReBrand(Resources.Profile.AboutCloudStorage)</p>
    <table>
        <tr style="vertical-align:middle">
            <td style="width:180px">
                <!-- This comes from https://www.dropbox.com/developers/reference/branding, per their guidelines -->
                <img src="@("~/images/dropbox-logos_dropbox-logotype-blue.png".ToAbsolute())" alt="@Resources.Preferences.CloudStorageDropboxName" style="width: 180px;" />
            </td>
            <td>
                @if (lstCloud.Contains(StorageID.Dropbox))
                {
                    <p>@Branding.ReBrand(Resources.Profile.DropboxIsAuthed)</p>
                    <a href="@("~/mvc/oAuth/DeAuthorizeDropbox".ToAbsolute())">@Branding.ReBrand(Resources.Profile.DeAuthDropbox)</a>
                }
                else
                {
                    <a href="@("~/mvc/oAuth/AuthorizeDropbox".ToAbsolute())">@Branding.ReBrand(Resources.Profile.AuthorizeDropbox)</a>
                }
            </td>
        </tr>
        <tr style="vertical-align:middle" id="rowGDrive">
            <td style="width:180px">
                <!-- This comes from https://developers.google.com/drive/v2/web/branding, per their guidelines -->
                <img src="@("~/images/google-drive-logo-lockup.png".ToAbsolute())" alt="@Resources.Preferences.CloudStorageGoogleDriveName" style="width: 180px;" />
            </td>
            <td>
                @if (lstCloud.Contains(StorageID.GoogleDrive))
                {
                    <p>@Branding.ReBrand(Resources.Profile.GDriveIsAuthed)</p>
                    <a href="@("~/mvc/oAuth/DeAuthorizeGDrive".ToAbsolute())">@Branding.ReBrand(Resources.Profile.DeAuthGDrive)</a>
                }
                else
                {
                    <a href="@("~/mvc/oAuth/AuthorizeGDrive".ToAbsolute())">@Branding.ReBrand(Resources.Profile.AuthorizeGDrive)</a>
                }
            </td>
        </tr>
        <tr style="vertical-align:middle" id="rowOneDrive">
            <td style="width:180px">
                <!-- This comes from https://msdn.microsoft.com/en-us/onedrive/dn673556.aspx, per their guidelines -->
                <img src="@("~/images/OneDrive_rgb_Blue2728.png".ToAbsolute())" alt="@Resources.Preferences.CloudStorageOneDriveName" style="width: 180px;" />
            </td>
            <td>
                @if (lstCloud.Contains(StorageID.OneDrive))
                {
                    <p>@Branding.ReBrand(Resources.Profile.OneDriveIsAuthed)</p>
                    <a href="@("~/mvc/oAuth/DeAuthorizeOneDrive".ToAbsolute())">@Branding.ReBrand(Resources.Profile.DeAuthOneDrive)</a>
                }
                else
                {
                    <a href="@("~/mvc/oAuth/AuthorizeOneDrive".ToAbsolute())">@Branding.ReBrand(Resources.Profile.AuthorizeOneDrive)</a>
                }
            </td>
        </tr>
        <tr style="vertical-align:middle" id="rowOneDrive">
            <td style="width:180px; padding-left: 8pt;">
                <svg width="60" height="32" viewBox="0 0 461 244" class="CollapsibleSidebarLogo__StyledLogo-sc-6amevi-0 fuvpAc bdl-CollapsibleSidebar-logoIcon" focusable="false" aria-hidden="true" role="presentation"><path d="M17.142.304c9.379 0 17.001 7.482 17.171 16.828v72.33c14.39-10.786 32.224-17.171 51.528-17.171 32.876 0 61.451 18.479 75.853 45.611 14.398-27.132 42.987-45.611 75.84-45.611 47.399 0 85.85 38.427 85.85 85.839 0 47.434-38.451 85.87-85.85 85.87-32.853 0-61.442-18.496-75.84-45.602C147.292 225.504 118.717 244 85.841 244 38.884 244 .775 206.327.019 159.561H0V17.132C.215 7.786 7.763.304 17.142.304zm409.635 79.753c6.318-7.341 17.773-8.792 25.938-3.132 8.155 5.613 9.848 16.176 3.942 23.742l-46.723 57.351 46.666 57.24c5.918 7.587 4.217 18.12-3.939 23.755-8.164 5.637-19.617 4.202-25.941-3.15l-40.139-49.196-40.162 49.196c-6.252 7.352-17.779 8.787-25.919 3.15-8.14-5.635-9.841-16.168-3.905-23.755h-.016l46.638-57.24-46.638-57.351h.016c-5.936-7.566-4.235-18.124 3.905-23.742 8.14-5.66 19.667-4.209 25.919 3.132v-.012l40.162 49.264 40.196-49.264zm-189.243 26.605c-28.45 0-51.518 23.042-51.518 51.468 0 28.45 23.068 51.497 51.518 51.497 28.438 0 51.494-23.047 51.494-51.497 0-28.426-23.056-51.468-51.494-51.468zm-151.693 0c-28.444 0-51.528 23.042-51.528 51.479 0 28.445 23.084 51.486 51.528 51.486 28.441 0 51.477-23.047 51.477-51.497 0-28.426-23.036-51.468-51.477-51.468z" fill="#0061d5" fill-rule="evenodd"></path></svg>
            </td>
            <td>
                @if (lstCloud.Contains(StorageID.Box))
                {
                    // SVG above is used per https://developer.box.com/platform/appendix/branding-guidelines/
                    <p>@Branding.ReBrand(Resources.Profile.BoxIsAuthed)</p>
                    <a href="@("~/mvc/oAuth/DeAuthorizeBox".ToAbsolute())">@Branding.ReBrand(Resources.Profile.DeAuthBox)</a>
                }
                else
                {
                    <a href="@("~/mvc/oAuth/AuthorizeBox".ToAbsolute())">@Branding.ReBrand(Resources.Profile.AuthorizeBox)</a>
                }
            </td>
        </tr>
    </table>
    <div class="error">@(Request["cloudErr"] ?? string.Empty)</div>
</div>
@using (Html.BeginForm("UpdateCloudPrefs", "oAuth", FormMethod.Post, new { id = "frmUpdateCloudPrefs" }))
{
    @Html.AntiForgeryToken()
    <div><label><input type="radio" name="prefCloudOverwrite" @((!m_pf.OverwriteCloudBackup).ToChecked()) value="append" onchange="javascript: $('#frmUpdateCloudPrefs').submit();" />@Resources.Preferences.CloudStorageAppendDate</label></div>
    <div><label><input type="radio" name="prefCloudOverwrite" @(m_pf.OverwriteCloudBackup.ToChecked()) value="overwrite" onchange="javascript: $('#frmUpdateCloudPrefs').submit();" />@Resources.Preferences.CloudStorageOverwrite</label></div>
    <div><label><input type="checkbox" name="prefCloudGroup" @((!CloudStorageBase.UserUsesFlatHierarchy(m_pf)).ToChecked()) onchange="javascript: $('#frmUpdateCloudPrefs').submit();" />@Resources.Preferences.CloudStorageGroupByMonth</label></div>
    <div style="@(lstCloud.Count > 1 ? string.Empty : "display: none;")">
        <hr />
        <div>
            @Resources.Preferences.CloudStoragePickDefault
            <select name="prefCloudDefault" onchange="javascript: $('#frmUpdateCloudPrefs').submit();">
                @foreach (StorageID sid in lstCloud)
                {
                    <option value="@sid.ToString()" @((m_pf.BestCloudStorage == sid).ToSelected())>@CloudStorageBase.CloudStorageName(sid)</option>
                }
            </select>
        </div>
    </div>
}
