@using OAuthAuthorizationServer.Code
@using OAuthAuthorizationServer.Services
@{ 
    IEnumerable<MFBOauthClientAuth> lstAuths = MFBOauthClientAuth.GrantedAuthsForUser(User.Identity.Name);
}
@if (lstAuths.Any())
{
    <div>
        <script type="text/javascript">
            var oaClientPrefs = new oAuthAppsEditor("@("~/mvc/oAuth/".ToAbsolute())");
        </script>
        <table cellpadding="10" cellspacing="10">
            @foreach (MFBOauthClientAuth client in lstAuths)
            {
                IEnumerable<string> lstScopes = MFBOauthServer.ScopeDescriptions(MFBOauthServer.ScopesFromString(client.Scope));
                <tr>
                    <td class="topAlign"><img src="@($"~/mvc/oAuth/ViewOAuthLogo?clientID={WebUtility.UrlEncode(client.ClientId)}".ToAbsolute())" /></td>
                    <td class="topAlign b">@client.ClientName</td>
                    <td class="topAlign">
                        @if (lstScopes.Any())
                        {
                            <ul>
                                @foreach (string scope in lstScopes)
                                {
                                    <li>@scope</li>
                                }
                            </ul>
                        }
                        else
                        {
                            @Resources.oAuth.oAuthNoScopesDefined
                        }
                    </td>
                    <td class="topAlign"><img src="@("~/images/x.gif".ToAbsolute())" onclick="javascript: oaClientPrefs.deleteClient($(this).closest('tr'), '@client.ClientId'); return false;" /></td>
                </tr>
            }
        </table>
    </div>
}
else 
{
    <p>@Resources.oAuth.oAuthNoApplicationsFound</p>
}