@using MyFlightbook;
@using System.Globalization;
@{
    ViewBag.Title = Resources.oAuth.oAuthAuthorizeTitle;
    Layout = "~/Areas/mvc/Views/Shared/_Layout.cshtml";
    IEnumerable<string> lstScopes = ViewBag.scopesList;
    string redirLInk = ViewBag.proxyRedirectUri ?? Request["redirect_uri"] ?? string.Empty;
    Uri redirUri = new Uri(Request["redirect_uri"]);
    string redirLinkified = String.Format(CultureInfo.CurrentCulture, Resources.oAuth.oAuthRedirect, redirUri.Host.ToUpper(CultureInfo.CurrentCulture)).Linkify(true);

}
@if (!String.IsNullOrEmpty(ViewBag.error))
{
    <div class="error">@ViewBag.error</div>
}
else
{
    using (Html.BeginForm("CommitAuth", "oAuth", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <p>@Resources.oAuth.oAuthAuthPrompt</p>
        <h2>@ViewBag.clientName</h2>
        <div>
            @if (!String.IsNullOrEmpty(ViewBag.clientLogoHref))
            {
            <div class="dib imgMiddle"><img src="@ViewBag.clientLogoHref" />&nbsp;&nbsp;</div>
            }
            <div class="dib imgMiddle">
                <h3>@Resources.oAuth.oAuthRequestedPermissions</h3>
                @if (lstScopes.Any())
                {
                <ul>
                    @foreach (string scope in lstScopes)
                    {
                        <li>@scope</li>
                    }
                </ul>
                }
                else
                {
                <p>@Resources.oAuth.oAuthNoScopesDefined</p>
                }
            </div>
        </div>
        <p>@Resources.oAuth.oAuthAuthWarning</p>
        <div>@Resources.oAuth.oAuthRedirect</div>
        <div class="b l">@redirUri.Host.ToUpper(CultureInfo.CurrentCulture)</div>
        <p>
            <button type="submit" name="authAction" value="authorize">@Resources.LogbookEntry.PropertyYes</button>
            <button type="submit" name="authAction" value="reject">@Resources.LogbookEntry.PropertyNo</button>
        </p>
        <input type="hidden" name="client_id" value="@(ViewBag.proxyClientId ?? Request["client_id"] ?? string.Empty)" />
        <input type="hidden" name="redirect_uri" value="@(redirLInk)" />
        <input type="hidden" name="scope" value="@(ViewBag.proxyScope ?? Request["scope"] ?? string.Empty)" />
        <input type="hidden" name="response_type" value="code" />
        <input type="hidden" name="state" value="@(Request["state"] ?? string.Empty)" />
        <input type="hidden" name="pkcestate" value="@(ViewBag.pkceState ?? string.Empty)" />
    }
}
