@using MyFlightbook.Printing
@using System.Collections.Specialized
@{
    NameValueCollection nvc = ViewBag.paramList;
    FlightQuery fq = ViewBag.query;
    PrintingOptions po = ViewBag.po;
    Action<NameValueCollection> fillNVC = (n) => { foreach (string k in nvc.Keys) { n[k] = nvc[k]; } };
    bool includeFlightsSection = ViewBag.includeFlightsSection;
    string onChangeFunc = String.IsNullOrEmpty(ViewBag.onChange) ? "updateLinkToPrintView" : ViewBag.onChange;
}
<script type="text/javascript">
    function updateLinkToPrintView(sects) {
        var lnk = $("#lnkPrintView")[0];
        var params = new Object();
        params.szExisting = lnk.href;
        params.ps = sects;

        $.ajax(
            {
                url: '@("~/Member/Ajax.asmx/PrintLink".ToAbsolute())',
                type: "POST", data: JSON.stringify(params), dataType: "json", contentType: "application/json",
                error: function (xhr, status, error) { window.alert(xhr.responseJSON.Message); },
                success: function (response) { lnk.href = response.d }
            });
    }

    $(() => {
        printingSections("divPrefPrintingSections", {
            onChangeFunc: @onChangeFunc,
            includeFlightsSection: @Json.Encode(includeFlightsSection)
        });
    });
</script>
<div id="divPrefPrintingSections">
    <table>
        <tr>
            <td><input type="checkbox" @po.Sections.IncludeCoverPage.ToChecked() id="ckPrintSectionsCoverSheet" name="poSectCover" /></td>
            <td><label for="ckPrintSectionsCoverSheet">@Resources.LocalizedText.PrintViewIncludeCoverSheet</label></td>
        </tr>
        @if (includeFlightsSection)
        {
            <tr>
                <td><input type="checkbox" @po.Sections.IncludeFlights.ToChecked() id="ckPrintSectionFlights" name="poSectFlights" /></td>
                <td><label for="ckPrintSectionFlights">@Resources.LocalizedText.PrintViewSelectedFlightsLabel</label></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button onclick="javascript: toggleSearch(); return false;">@Resources.LocalizedText.ChangeQuery</button>
                    @{ Html.RenderAction("QueryDescription", "Search", new { fq = fq, onClientClick = "qfeClicked" }); }
                </td>
            </tr>
        }
        <tr>
            <td>
                <input type="checkbox" @po.Sections.IncludeTotals.ToChecked() id="ckPrintSectionTotals" name="poSectTotals" />
            </td>
            <td>
                <label for="ckPrintSectionTotals">@Resources.LocalizedText.PrintViewIncludeTotals</label>
                <label><input type="checkbox" name="poSectTotalsCompact" @po.Sections.CompactTotals.ToChecked() id="ckPrintSectionCompactTotals" />@Resources.LocalizedText.PrintViewTotalsCompact</label>
                <span class="fineprint">@Resources.LocalizedText.PrintViewTotalsCompactNote</span>
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top;">
                <input type="checkbox" name="poSectEndorsements" @((po.Sections.Endorsements != PrintingSections.EndorsementsLevel.None).ToChecked()) id="ckPrintSectionEndorsements" />
            </td>
            <td>
                <label for="ckPrintSectionEndorsements">@Resources.LocalizedText.PrintViewIncludeEndorsements</label>
                <label><input type="checkbox" name="poSectEndorsementsJPG" @(po.Sections.Endorsements == PrintingSections.EndorsementsLevel.None ? "disabled" : string.Empty) @((po.Sections.Endorsements == PrintingSections.EndorsementsLevel.DigitalAndPhotos).ToChecked()) id="ckPrintSectionEndorsementImages" />@Resources.LocalizedText.PrintViewIncludeJPEGEndorsements</label>
                <div class="fineprint">@Resources.LocalizedText.PrintViewNoEmbeddedPDFsNote</div>
            </td>
        </tr>
    </table>
    @if (String.IsNullOrEmpty(ViewBag.onChange))
    {
        <ul class="nextStep">
            <li><a id="lnkPrintView" target="_blank" href="@PrintingOptions.PermaLink(fq, po, Request.Url.Host, Request.Url.Scheme, fillNVC)">@Resources.LocalizedText.OpenPrintView</a></li>
        </ul>
    }
</div>

