
@using System.Globalization
@using MyFlightbook.Image
@using MyFlightbook.Printing
@{
    PrintLayout pl = ViewBag.pl;
    IEnumerable<LogbookPrintedPage> pages = pl.Pages;
}
@foreach (LogbookPrintedPage lpp in pages)
{
    Html.RenderPartial("_printHeader");
    pl.StripRedundantOrExcludedProperties(null, lpp.Flights);

    <table class="pageTable">
        <thead>
            <tr class="bordered">
                <th class="headerSmall w10ch" rowspan="2">@Resources.LogbookEntry.PrintHeaderDate</th>
                <th class="headerSmall w1cm" rowspan="2">@Resources.LogbookEntry.PrintHeaderSegments</th>
                <th class="headerSmall clipped">@Resources.LogbookEntry.PrintHeaderModel</th>
                <th class="headerSmall clipped">@Resources.LogbookEntry.PrintHeaderRoute</th>
                @foreach (OptionalColumn oc in pl.Options.OptionalColumns)
                {
                    <th class="headerSmall w1cm"><div class="custColumn">@oc.Title</div></th>
                }
                <th class="headerSmall w1cm">@Resources.LogbookEntry.PrintHeaderLandingsShort</th>
                <th class="headerSmall w1cm">@Resources.LogbookEntry.PrintHeaderApproachesShort</th>
                <th class="headerSmall w1cm">@Resources.LogbookEntry.FieldNight</th>
                <th class="headerSmall w1cm">@Resources.LogbookEntry.FieldXCountry</th>
                <th class="headerSmall w1cm">@Resources.LogbookEntry.FieldIMC</th>
                <th class="headerSmall w1cm">@Html.Raw(Resources.LogbookEntry.FieldSimIMC)</th>
                <th class="headerSmall w1cm">@Resources.LogbookEntry.FieldDual</th>
                <th class="headerSmall w1cm">@Resources.LogbookEntry.FieldPIC</th>
                <th class="headerSmall w1cm">@Resources.LogbookEntry.FieldCFI</th>
                <th class="headerSmall w1cm">@Resources.LogbookEntry.FieldSIC</th>
                <th class="headerSmall w1cm">@Resources.LogbookEntry.FieldTotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (LogbookEntryDisplay led in lpp.Flights)
            {
                <tr class="bordered breakable @(pl.Options.PageBreaks.Contains(led.FlightID) ? "breakBefore" : string.Empty)" @Html.Raw(pl.ColorForFlight(led))>
                    <td><div class="fhd"><input class="dn" type="checkbox" name="ckpb" value="@led.FlightID" @(pl.Options.PageBreaks.Contains(led.FlightID).ToChecked()) />@pl.ChangeMarkerForFlight(led)@led.Date.ToShortDateString()</div></td>
                    <td><div class="fhd">@led.FlightCount.FormatInt()</div></td>
                    <td class="clipped"><div class="fhd">@pl.ModelDisplay(led)</div></td>
                    <td class="clipped"><div class="fhd"><span class="b">@led.Route</span> @Html.Raw(led.RedactedCommentWithReplacedApproaches)</div></td>
                    @for (int i = 0; i < pl.Options.OptionalColumns.Count; i++)
                    {
                        <td class="numericColumn"><div class="fhd">@led.OptionalColumnDisplayValue(i, pl.CurrentUser.UsesHHMM)</div></td>
                    }
                    <td><div class="fhd">@led.Landings.FormatInt()</div></td>
                    <td><div class="fhd">@led.Approaches.FormatInt()</div></td>
                    <td><div class="fhd">@led.Nighttime.FormatDecimal(pl.CurrentUser.UsesHHMM)</div></td>
                    <td><div class="fhd">@led.CrossCountry.FormatDecimal(pl.CurrentUser.UsesHHMM)</div></td>
                    <td><div class="fhd">@led.IMC.FormatDecimal(pl.CurrentUser.UsesHHMM)</div></td>
                    <td><div class="fhd">@led.SimulatedIFR.FormatDecimal(pl.CurrentUser.UsesHHMM)</div></td>
                    <td><div class="fhd">@led.Dual.FormatDecimal(pl.CurrentUser.UsesHHMM)</div></td>
                    <td><div class="fhd">@led.PIC.FormatDecimal(pl.CurrentUser.UsesHHMM)</div></td>
                    <td><div class="fhd">@led.CFI.FormatDecimal(pl.CurrentUser.UsesHHMM)</div></td>
                    <td><div class="fhd">@led.SIC.FormatDecimal(pl.CurrentUser.UsesHHMM)</div></td>
                    <td><div class="fhd">@led.TotalFlightTime.FormatDecimal(pl.CurrentUser.UsesHHMM)</div></td>
                </tr>
            }
            @foreach (LogbookPrintedPageSubtotalsCollection stc in lpp.Subtotals)
            {
                int itemIndex = 0;
                foreach (LogbookEntryDisplay led in stc.Subtotals)
                {
                    <tr class="subtotal">
                        @if (itemIndex++ == 0)
                        {
                            <td colspan="2" class="clipped" rowspan='@stc.SubtotalCount'>@stc.GroupTitle</td>
                        }
                        <td colspan="2">@led.CatClassDisplay</td>
                        @for (int i = 0; i < pl.Options.OptionalColumns.Count; i++)
                        {
                            <td>@led.OptionalColumnTotalDisplayValue(i, pl.CurrentUser.UsesHHMM)</td>
                        }
                        <td>@led.LandingsTotal.FormatInt()</td>
                        <td>@led.Approaches.FormatInt()</td>
                        <td>@led.Nighttime.FormatDecimal(pl.CurrentUser.UsesHHMM)</td>
                        <td>@led.CrossCountry.FormatDecimal(pl.CurrentUser.UsesHHMM)</td>
                        <td>@led.IMC.FormatDecimal(pl.CurrentUser.UsesHHMM)</td>
                        <td>@led.SimulatedIFR.FormatDecimal(pl.CurrentUser.UsesHHMM)</td>
                        <td>@led.Dual.FormatDecimal(pl.CurrentUser.UsesHHMM)</td>
                        <td>@led.PIC.FormatDecimal(pl.CurrentUser.UsesHHMM)</td>
                        <td>@led.CFI.FormatDecimal(pl.CurrentUser.UsesHHMM)</td>
                        <td>@led.SIC.FormatDecimal(pl.CurrentUser.UsesHHMM)</td>
                        <td>@led.TotalFlightTime.FormatDecimal(pl.CurrentUser.UsesHHMM)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    Html.RenderAction("PageFooter", "Print", new { pf = pl.CurrentUser, pageNum = lpp.PageNum, totalPages = lpp.TotalPages, showFoot = pl.ShowFooter });
}
