@using MyFlightbook.Instruction
@{
    bool canDelete = ViewBag.canDelete;
    bool canSort = ViewBag.canSort;
    bool canDownload = ViewBag.canDownload;
    string onCopy = ViewBag.onCopy;
    string szStudent = ViewBag.userName;
    List<Endorsement> lstUndeleted = new List<Endorsement>(ViewBag.endorsements);
    lstUndeleted.RemoveAll(e => e.DateDeleted != null);
    List<Endorsement> lstDeleted = new List<Endorsement>(ViewBag.endorsements);
    lstDeleted.RemoveAll(e => e.DateDeleted == null);
    List<Endorsement> lstMerged = new List<Endorsement>();
    lstMerged.AddRange(lstUndeleted);
    lstMerged.AddRange(lstDeleted);
}
<script type="text/javascript">
    function deleteExternalEndorsement(sender, id) {
        if (confirm('@Resources.SignOff.ExternalEndorsementConfirmDelete')) {
            $("#hdnEndorsementToDelete").val(id);
            var f = $("#frmDelete").serialize();
            $.ajax({
                url: '@Url.Action("DeleteExternalEndorsement", "Training")',
                type: "POST", data: f, dataType: "text", contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                error: function (xhr, status, error) { window.alert(xhr.responseText); },
                complete: function (response) { },
                success: function (response) {
                    $(sender).parents('tr').hide();
                }
            });
        }
    }

    function deleteOwnedEndorsement(sender, id) {
        if (confirm('@Resources.SignOff.OwnedEndorsementConfirmDelete')) {
            $("#hdnEndorsementToDelete").val(id);
            var f = $("#frmDelete").serialize();
            $.ajax({
                url: '@Url.Action("DeleteOwnedEndorsement", "Training")',
                type: "POST", data: f, dataType: "text", contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                error: function (xhr, status, error) { window.alert(xhr.responseText); },
                complete: function (response) { },
                success: function (response) {
                    $(sender).parents('tr').hide();
                }
            });
        }
    }
</script>
@using (Html.BeginForm("", "Training", FormMethod.Post, new { id = "frmDelete", name = "frmDelete" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="hdnEndorsementToDelete" name="id" />
}
<input type="hidden" id="hdnCurSort" value="0" />
<input type="hidden" id="hdnCurSortDir" value="desc" />
@if (canDownload)
{
    using (Html.BeginForm("DownloadEndorsements", "Training", FormMethod.Post, new { id = "frmDownloadEndorsements", name = "frmDownloadEndorsements" }))
    {
    @Html.AntiForgeryToken()
    <input type="hidden" name="userName" value="@szStudent" />
    <a style="cursor: pointer; vertical-align: middle;" onclick="javascript: $('#frmDownloadEndorsements')[0].submit()">
        <img src="@("~/images/download.png".ToAbsolute())" style="padding-right: 5px; vertical-align: middle;" />
        <img src="@("~/images/csvicon_sm.png".ToAbsolute())" style="padding-right: 5px; vertical-align: middle;" />
        @Resources.SignOff.DownloadCSVEndorsements
    </a>
    }
}
@if (lstMerged.Any())
{
    <div class="@(lstDeleted.Any() ? string.Empty : "dn")"><label><input type="checkbox" onclick="javascript:$('.deletedEndorsement').toggle();" />@Resources.SignOff.EndorsementViewDeleted</label></div>
    <table>
        <thead>
            <tr>
                <th class="dn"></th>
                <th class="dn"></th>
                <th class="headerBase gvcCentered headerSortDesc" style="width: 45%" onclick="javascript: sortTable(this, 0, '', 'hdnCurSort', 'hdnCurSortDir');">@Resources.SignOff.EndorsementSortDate</th>
                <th class="headerBase gvcCentered" style="width: 45%" onclick="javascript: sortTable(this, 1, '', 'hdnCurSort', 'hdnCurSortDir');">@Resources.SignOff.EndorsementSortTitle</th>
                <th class="dn"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Endorsement e in lstMerged)
            {
                <tr class="@(e.DateDeleted != null ? "dn deletedEndorsement" : string.Empty)">
                    <td class="dn">@e.Date.YMDString()</td>
                    <td class="dn">@e.Title</td>
                    <td colspan="2" style="width: 90%;">@Html.Raw(e.RenderHTML())</td>
                    <td class="noprint">
                        @if (e.IsExternalEndorsement && e.DateDeleted == null)
                        {
                            <img src="@("~/images/x.gif".ToAbsolute())" alt="@Resources.SignOff.ExternalEndorsementDeleteTooltip" title="@Resources.SignOff.ExternalEndorsementDeleteTooltip" onclick="javascript: deleteExternalEndorsement(this, @e.ID);" />
                        }
                        @if (canDelete && e.StudentName.CompareCurrentCultureIgnoreCase(User.Identity.Name) == 0)
                        {
                            <img src="@("~/images/x.gif".ToAbsolute())" alt="@Resources.SignOff.OwnedEndorsementDeleteTooltip" title="@Resources.SignOff.OwnedEndorsementDeleteTooltip" onclick="javascript: deleteOwnedEndorsement(this, @e.ID);" />
                        }
                        @if (!String.IsNullOrEmpty(onCopy) && (e.IsExternalEndorsement || (e.IsMemberEndorsement && e.StudentName.CompareCurrentCultureIgnoreCase(User.Identity.Name) != 0)))
                        {
                            <img src="@("~/images/copyflight.png".ToAbsolute())" alt="@Resources.SignOff.CopyEndorsement" title="@Resources.SignOff.CopyEndorsement" onclick="javascript: @(onCopy)(@e.ID);" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>@Resources.SignOff.NoExistingEndorsements</div>
}
<div id="lblErr" class="error"></div>

