@using MyFlightbook.RatingsProgress
@using System.Globalization
@{
    RecentAchievements ra = ViewBag.recentAchievements;
    DateTime dtMonthStart = new DateTime(ra.StartDate.Year, ra.StartDate.Month, 1);
    DateTime dtMonthEnd = new DateTime(ra.EndDate.Year, ra.EndDate.Month, 1);
    FlightQuery fq = new FlightQuery(User.Identity.Name) { DateRange = FlightQuery.DateRanges.Custom };
    string szBaseURL = String.Format(CultureInfo.InvariantCulture, "https://{0}{1}", Branding.CurrentBrand.HostName, VirtualPathUtility.ToAbsolute("~/Member/LogbookNew.aspx?fq="));
}
<div id="flyingCalendar">
    <h2>@Resources.Achievements.RecentAchievementsCalendarHeader</h2>

    @for (DateTime dtCurrentMonth = dtMonthStart; dtCurrentMonth.CompareTo(dtMonthEnd) <= 0; dtCurrentMonth = dtCurrentMonth.AddMonths(1))
    {
        <div class="monthContainer">
            @{
                DateTime dtDay = dtCurrentMonth;
                int cLeadingDays = 0;
                int cDaysInMonth = DateTime.DaysInMonth(dtCurrentMonth.Year, dtCurrentMonth.Month);
                while (dtDay.DayOfWeek != CultureInfo.CurrentCulture.DateTimeFormat.FirstDayOfWeek)
                {
                    dtDay = dtDay.AddDays(-1);
                    cLeadingDays++;
                }
                int cWeeks = (cLeadingDays + cDaysInMonth + 6) / 7;
            }

            <table>
                <tr>
                    <td colspan="7" class="monthHeader">@dtCurrentMonth.ToString("MMMM - yyyy", CultureInfo.CurrentCulture)</td>
                </tr>
                @for (int i = 0; i < cWeeks; i++)
                {
                    <tr>
                        @for (int j = 0; j < 7; j++)
                        {
                            <td class="@(dtDay.Month == dtCurrentMonth.Month ? "includedDay" : "adjacentDay")">
                                <span class="dayOfMonth">@dtDay.Day.ToString(CultureInfo.CurrentCulture)</span>
                                @if (dtDay.Month != dtCurrentMonth.Month)
                                {
                                    <span class="dateContent">&nbsp;</span>
                                }
                                else
                                {
                                    int cFlights = ra.FlightCountOnDate(dtDay);
                                    if (cFlights == 0)
                                    {
                                        <span class="dateContent">&nbsp;</span>
                                    }
                                    else
                                    {
                                        fq.DateMax = fq.DateMin = dtDay.Date;
                                        <a class="dateContent dateContentValue" href="@(szBaseURL + HttpUtility.UrlEncode(fq.ToBase64CompressedJSONString()))">
                                            @cFlights.ToString(CultureInfo.CurrentCulture)
                                        </a>
                                    }
                                }
                                @{
                                    dtDay = dtDay.AddDays(1);
                                }
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    }
</div>