@using MyFlightbook.RatingsProgress
@{
    RecentAchievements ra = ViewBag.ra;
}
<div id="raResults">
    @if (ra.ComputedMilestones.Count != 0)
    {
        <style type="text/css">
            .raContainerTile {
                display: inline-block;
                width: 180px;
                height: 180px;
                border: 3px solid lightgray;
                border-radius: 12px;
                margin: 10pt;
                padding: 3pt;
                vertical-align: top;
            }
            .raContainerTileContent {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;
                justify-content: space-between;
                text-align: center;
            }
            .raTileIcon {
                width: 40pt;
                height: 40pt;
            }
            .raStatHeader {
                font-size: 120%;
            }
            .raStatResult {
                font-weight: bold;
                font-size: 120%;
            }
        </style>

        <div style="margin-left: auto; margin-right: auto;">
            @foreach (RecentAchievementMilestone mi in ra.ComputedMilestones)
            {
            <div class="raContainerTile">
                <div class="raContainerTileContent">
                    <div style="text-align:center">
                        <div><img src="@mi.CategoryImage" class="raTileIcon" /></div>
                        <div class="raStatHeader">@mi.Title</div>
                    </div>
                    <div class="raStatResult">
                        @if (String.IsNullOrEmpty(mi.TargetLink) || ViewBag.isReadOnly)
                        {
                            @mi.MatchingEventText
                        }
                        else
                        {
                            <a href="@mi.TargetLink">@mi.MatchingEventText</a>
                        }
                    </div>
                </div>
            </div>
            }
        </div>
    }
    else
    {
        <div>@Resources.LocalizedText.errNoMatchingFlightsFound</div>
    }
</div>