@{ 
    string watermarkRef = ViewBag.watermarkRef;
    string colorRef = ViewBag.colorRef;
    string saveFunc = ViewBag.saveFunc;
    string cancelFunc = ViewBag.cancelFunc;
}
<script type="text/javascript" src="@VirtualPathUtility.ToAbsolute("~/Public/Scripts/signature.js?v=3")"></script>
<script type="text/javascript" src="@VirtualPathUtility.ToAbsolute("~/Public/Scripts/todataurl-png.js")"></script>
<script>
    $(() => {
        var signature = new ns.SignatureControl({ imgDataControlId: "hdnSigData", clearControlId: "btnClear", watermarkX: 250, watermarkY: 90, watermarkHREF: "@watermarkRef", strokeColor: "@colorRef" });
        signature.init();
    });

    function isValidDataUrl(szLink) {
        if (szLink == "" || !szLink.startsWith("data:image/png;base64,") || szLink.length < 23)
            return false;
        return true;
    }
</script>
<div><canvas id="signatureCanvas" name="signatureCanvas" width="280" height="120" style="border: solid 2px black; background-color:White"></canvas></div>
<div>
    <input id="btnClear" type="button" value="Clear" />
    <span id="statusText"></span>
    @if (!String.IsNullOrEmpty(saveFunc))
    {
    <button type="button" onclick="javascript:@(saveFunc)()">@Resources.LocalizedText.StudentSigningDefaultScribbleSaveSig</button>
    }
    @if (!String.IsNullOrEmpty(cancelFunc))
    {
    <button type="button" onclick="javascript: @(cancelFunc)()">@Resources.LocalizedText.StudentSigningDefaultScribbleCancel</button>
    }
</div>
<input type="hidden" id="hdnSigData" name="hdnSigData" />
<div id="lblSigErr" class="error">
</div>

