@using System.Globalization
@using MyFlightbook.Airports
<table class="stickyHeaderTable" style="max-width: 80%">
    @foreach (airport ap in ViewBag.AirportsResultsList)
    {
        <tr>
            <td>@ap.FacilityType</td>
            <td><a href='javascript:clickAndZoom(@ap.LatLong.Latitude, @ap.LatLong.Longitude);'>@ap.Code</a></td>
            <td>
                @if (ap.IsPort)
                {
                    <a href="@String.Format(CultureInfo.InvariantCulture, "https://acukwik.com/Airport-Info/{0}", ap.Code)" target="_blank">@ap.Name</a>
                }
                else
                {
                    @ap.Name
                }
            </td>
        </tr>
    }
    <tr>
        <td colspan="3" style="text-align:center;">
            @if (ViewBag.start > 0)
            {
                <a href="javascript:getResultPage('@ViewBag.searchTerm', 0, @ViewBag.pageSize);">&lt;&lt;&nbsp;&nbsp;</a>
                <a href="javascript:getResultPage('@ViewBag.searchTerm', @(ViewBag.start - ViewBag.pageSize), @ViewBag.pageSize);">&lt;&nbsp;</a>
            }
            @String.Format(CultureInfo.CurrentCulture, Resources.LocalizedText.PrintedFooterPageCountWithTotals, (ViewBag.start + ViewBag.pageSize) / ViewBag.pageSize, (ViewBag.resultCount + ViewBag.pageSize - 1) / ViewBag.pageSize)&nbsp;
            @if (ViewBag.start + ViewBag.pageSize < ViewBag.resultCount)
            {
                <a href="javascript:getResultPage('@ViewBag.searchTerm', @(ViewBag.start + ViewBag.pageSize), @ViewBag.pageSize);">&gt;&nbsp;&nbsp;</a>
                <a href="javascript:getResultPage('@ViewBag.searchTerm', @((ViewBag.resultCount / ViewBag.pageSize) * ViewBag.pageSize), @ViewBag.pageSize);">&gt;&gt;</a>
            }
        </td>
    </tr>
</table>