@{
    ViewBag.Title = "Admin Tools";
    Layout = "~/Areas/mvc/Views/Shared/_Layout.cshtml";
    ViewBag.defaultTab = tabID.tabAdmin;
    Dictionary<string, int> dCache = ViewBag.cacheSummary;
}
<script type="text/javascript">
    function refreshBrokenProps() {
        $("#divInvalidPropProgress").toggle();
        var params = new Object();
        var d = JSON.stringify(params);
        $.ajax({
            url: '@Url.Action("InvalidProps", "Admin")',
            type: "POST", data: d, dataType: "html", contentType: "application/json",
            error: function (xhr, status, error) {
                window.alert(xhr.responseText);
            },
            complete: function (response) { $("#divInvalidPropProgress").toggle(); },
            success: function (response) {
                $("#invalidProps").html(response);
            }
        });
    }

    function deleteEmptyProp(sender, propid) {
        var params = new Object();
        params.propid = propid
        var d = JSON.stringify(params);
        $.ajax({
            url: '@Url.Action("DeleteEmptyProp", "Admin")',
            type: "POST", data: d, dataType: "text", contentType: "application/json",
            error: function (xhr, status, error) {
                window.alert(xhr.responseText);
            },
            complete: function (response) { },
            success: function (response) {
                $(sender).parents("tr").toggle();
            }
        });
    }

    function refreshBrokenSigs() {
        var params = new Object();
        var d = JSON.stringify(params);
        $.ajax({
            url: '@Url.Action("UpdateInvalidSigs", "Admin")',
            type: "POST", data: d, dataType: "json", contentType: "application/json",
            error: function (xhr, status, error) { window.alert(xhr.responseText); },
            complete: function (response) { },
            success: function (response) {
                if (response.additionalFlights == 0) {
                    var params = new Object();
                    var d = JSON.stringify(params);
                    $.ajax({
                        url: '@Url.Action("InvalidSigsResult", "Admin")',
                        type: "POST", data: d, dataType: "html", contentType: "application/json",
                        error: function (xhr, status, error) { window.alert(xhr.responseText); },
                        complete: function (response) { $("#divProgress").toggle(); },
                        success: function (response) {
                            $("#divBrokenSigsResult").html(response);
                        }
                    });
                } else {
                    $("#spanSigProgress").text(response.progress);
                    refreshBrokenSigs();
                }
            }
        });
    }

    function flushCache() {
        var params = new Object();
        var d = JSON.stringify(params);
        $.ajax({
            url: '@Url.Action("FlushCache", "Admin")',
            type: "POST", data: d, dataType: "text", contentType: "application/json",
            error: function (xhr, status, error) { window.alert(xhr.responseText); },
            complete: function (response) { },
            success: function (response) {
                $("#divFlushCacheResults").text(response);
            }
        });
    }

    function startNightlyRun(sender) {
        var params = new Object();
        var d = JSON.stringify(params);
        $.ajax({
            url: '@Url.Action("KickOffNightlyRun", "Admin")',
            type: "POST", data: d, dataType: "text", contentType: "application/json",
            error: function (xhr, status, error) { window.alert(xhr.responseText); },
            complete: function (response) { },
            success: function (response) {
                sender.disabled = true;
                window.alert("Success; run is in progress!");
            }
        });
    }
</script>

<h2>Fix invalid properties on flights</h2>
<div id="invalidProps">
    <div><button type="button" id="btnRefreshProps" onclick="javascript: refreshBrokenProps()">Refresh empty props</button></div>
</div>
<div id="divInvalidPropProgress" style="display:none;">Evaluating properties for issues... <img id="imgProgress" src="@VirtualPathUtility.ToAbsolute("~/images/progress.gif")" style="height:16px; width: 16px;" /></div>

<h2>Invalid signatures</h2>
<div id="divBrokenSigsResult" style="display:none;">
    <img id="imgProgress" src="@VirtualPathUtility.ToAbsolute("~/images/progress.gif")" style="height:16px; width: 16px;" /> <span id="spanSigProgress"></span>
</div>
<div><button type="button" onclick="javascript: $(this).toggle(); $('#divBrokenSigsResult').toggle(); refreshBrokenSigs(this);">Refresh</button></div>

<h2>Cache management</h2>
<div>@ViewBag.memStats</div>

@{ Html.RenderAction("RenderExpandoText", "MFBTemplate", new { fExpanded = false, targetID = "divCacheTable", labelText = "ObjectSummary" }); }
<div id="divCacheTable" style="display:none">
    <table>
        @foreach (string szClass in dCache.Keys)
            {
                <tr>
                    <td>@szClass</td>
                    <td>@dCache[szClass]</td>
                </tr>
            }
    </table>
</div>


<p>
    <button type="button" onclick="javascript: flushCache();">Flush Cache</button>
    <span class="fineprint">Removes all entries from the cache; will make things slow, but useful for picking up DB changes or debugging</span></p>
<div id="divFlushCacheResults"></div>

<h2>Nightly Run</h2>
<p>
    <button type="button" onclick="javascript: startNightlyRun(this);">Kick Off Nightly Run</button>
    <span class="fineprint">BE CAREFUL! This can spam users.  Only click once, and only if it DIDN'T run last night.</span>
</p>
